/************************************************************
FUNCTIONS
************************************************************/

/***********************************************
FUNCTIONS TO CONVETRT FROM PX TO REM
To make it easier to design and calculate dimensions
the function rem defined
************************************************/
//rem - ruturn the rem value of a px-value
@function rem($px) {
    @return $px * 1rem / 16px;
}

//roundRem - Return the rounded rem value of a rem-value to ensure a integer px reprecentation
@function roundRem($rem){
    @return round($rem*16) / 16;
}


//color-opacity
@function color-opacity( $color, $opacity){
    @return rgba( $color, $opacity );
}


/************************************************************
HEADER, TITLE, AND FOOTER PADDING AND FONT-SIZE
Padding are set to button y-padding (moving text to the left)
************************************************************/
@function header-padding-x($size: "") {
    $padding-x: $input-btn-padding-x;
    @if $size == "sm" {
        $padding-x: $input-btn-padding-x-sm;
    }
    @if $size == "xs" {
        $padding-x: $input-btn-padding-x-xs;
    }
    @return $padding-x;
}

@function header-padding-y($size: "") {
    $padding-y: $input-btn-padding-y;
    @if $size == "sm" {
        $padding-y: $input-btn-padding-y-sm;
    }
    @if $size == "xs" {
        $padding-y: $input-btn-padding-y-xs;
    }
    @return $padding-y;
}

