/************************************************************
MIXIN
************************************************************/


/************************************************************
BUTTON-TEXT-COLOR-VARIANT
BUTTON-BORDER-COLOR-VARIANT
BUTTON-BACKGROUND-COLOR-VARIANT
Adjust color and border-color for a button
************************************************************/
@mixin button-text-color-variant( $color ){
    //Text-color
    --#{$prefix}btn-color               : #{$color};
    --#{$prefix}btn-hover-color         : #{$color};
    --#{$prefix}btn-active-color        : #{$color};
    --#{$prefix}btn-disabled-color      : #{$color};
}
@mixin button-border-color-variant( $border-color ){
    //Border-color
    --#{$prefix}btn-border-color        : #{$border-color};
    --#{$prefix}btn-hover-border-color  : #{tint-color($border-color, $btn-hover-border-tint-amount)};
    --#{$prefix}btn-active-border-color : #{tint-color($border-color, $btn-active-border-tint-amount)};
}

@mixin button-background-color-variant( $bg-color ){
    //Background-color
    --#{$prefix}btn-bg       : #{$bg-color};
    --#{$prefix}btn-hover-bg : #{tint-color($bg-color, $btn-hover-bg-tint-amount)};
    --#{$prefix}btn-active-bg: #{tint-color($bg-color, $btn-active-bg-tint-amount)};
}

//HER=> /*
//HER=>   $background,
//HER=>   $border,
//HER=>   $color: color-contrast($background),
//HER=>   $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
//HER=>   $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
//HER=>   $hover-color: color-contrast($hover-background),
//HER=>   $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
//HER=>   $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
//HER=>   $active-color: color-contrast($active-background),
//HER=>   $disabled-background: $background,
//HER=>   $disabled-border: $border,
//HER=>   $disabled-color: color-contrast($disabled-background)
//HER=> ) {
//HER=>   --#{$prefix}btn-color: #{$color};
//HER=>   --#{$prefix}btn-bg: #{$background};
//HER=>   --#{$prefix}btn-border-color: #{$border};
//HER=>   --#{$prefix}btn-hover-color: #{$hover-color};
//HER=>   --#{$prefix}btn-hover-bg: #{$hover-background};
//HER=>   --#{$prefix}btn-hover-border-color: #{$hover-border};
//HER=>   --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
//HER=>   --#{$prefix}btn-active-color: #{$active-color};
//HER=>   --#{$prefix}btn-active-bg: #{$active-background};
//HER=>   --#{$prefix}btn-active-border-color: #{$active-border};
//HER=>   --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
//HER=>   --#{$prefix}btn-disabled-color: #{$disabled-color};
//HER=>   --#{$prefix}btn-disabled-bg: #{$disabled-background};
//HER=>   --#{$prefix}btn-disabled-border-color: #{$disabled-border};
//HER=> }
//HER=> */







/************************************************************
RIGHT-SIDE-ICON
Add style to <i> to place it to the right and vertical center
NOTE: Parent element MUST have @include vertical-align-center();
************************************************************/
@mixin right-side-icon( $fa-icon: $fa-var-chevron-right, $font-size: 0.8em, $hover: false, $opacity: .3, $margin-right: 0 ){
    font-size  : $font-size;
    color      : $btn-close-color;
    text-shadow: 0 1px 0 $white; //B4 = $close-text-shadow; <= MANGLER skal checkes
    cursor     : default;

    line-height: 1;

    margin-left : auto;
    margin-right: $margin-right;

    &:before {
        font-size: $font-size;
        content: fa-content($fa-icon);
    }

    @if ($hover) {
        opacity: .5;
        @include hover-focus {
            color          : $btn-close-color;
            text-decoration: none;
            opacity        : .75;
        }

    } @else {
        opacity: $opacity;
    }
}

@mixin vertical-align-center() {
    display    : flex;
    align-items: center; // vertically center it
}


/************************************************************
FOCUS
All elements get same outline when they have focus:
No outline
border-color = light blue
************************************************************/
@mixin focus-style(){
    border-color: $input-focus-border-color !important;
    outline: none !important;
}

/************************************************************
CONTENT
Unifies padding for modal, accordion, popup etc.
************************************************************/
@mixin any-content-padding($padding-y, $padding-x, $font-size, $only-padding-vertical: false){
    @if $only-padding-vertical == true {
        padding-top   : $padding-y;
        padding-bottom: $padding-y;
    } @else {
        padding: $padding-y $padding-x;
        font-size: $font-size;
    }
}

@mixin content-padding($only-padding-vertical: false){
    @include any-content-padding($content-padding-y, $content-padding-x, $font-size-base, $only-padding-vertical);
}

@mixin content-padding-sm($only-padding-vertical: false){
    @include any-content-padding($content-padding-y-sm, $content-padding-x-sm, $font-size-sm, $only-padding-vertical);
}

@mixin content-padding-xs($only-padding-vertical: false){
    @include any-content-padding($content-padding-y-xs, $content-padding-x-xs, $font-size-xs, $only-padding-vertical);
}


@mixin any-content-padding-horizontal($padding-y){
    padding-left : $padding-y;
    padding-right: $padding-y;
}

@mixin content-padding-horizontal(){
    @include any-content-padding-horizontal($content-padding-y);
}

@mixin content-padding-horizontal-sm(){
    @include any-content-padding-horizontal($content-padding-y-sm);
}

@mixin content-padding-horizontal-xs(){
    @include any-content-padding-horizontal($content-padding-y-xs);
}




/************************************************************
CONTROL-CONTAINER
Style for div with controls inside modal.
Must have tabindex:"-1" to work with focus
************************************************************/
@mixin control-container(){
    .modal-dialog & {
        border: $input-btn-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        &-sm {
            border-radius: $input-border-radius-sm;
        }

        @include box-shadow($input-box-shadow);
        @include transition($input-transition);

        &:focus, &:active {
            @include focus-style();
        }
    }
}

/************************************************************
CONTROL BORDER-COLOR
All control elements get same border-color when normal, hover, active and error
************************************************************/
//HER=> @mixin control-border-color-hover( $border-color-hover: $control-border-color-hover, $incl-z-index: true){
//HER=>     @if $incl-z-index == true {
//HER=>         //Move 'up' when focus or hover
//HER=>         &.focus:not(:disabled):not(.disabled):not(.no-hover),
//HER=>         &:focus:not(:disabled):not(.disabled):not(.no-hover),
//HER=>         .mouse-hover &:hover:not(:disabled):not(.disabled):not(.no-hover) {
//HER=>                position: relative;
//HER=>                z-index : 4;
//HER=>         }
//HER=>     }
//HER=>
//HER=>     //hover, not focus, not disabled
//HER=>     .mouse-hover &:hover:not(:focus):not(:disabled):not(.disabled):not(.no-hover) {
//HER=>         border-color: $border-color-hover;
//HER=>     }
//HER=> }
//HER=>
//HER=> @mixin control-border-color( $border-color: $control-border-color, $border-color-hover: $control-border-color-hover, $incl-error: true ){
//HER=>     //Normal
//HER=>     border : $border-width solid $border-color;
//HER=>     outline: none !important;
//HER=>
//HER=>
//HER=>     //:active
//HER=>     &:active,  &.active{
//HER=>         border-color: darken($border-color, $darken-active-percent);
//HER=>     }
//HER=>     //:focus
//HER=>     &:focus, &.focus{
//HER=>         border-color: $input-focus-border-color;
//HER=>     }
//HER=>     //:disabled - Disabled comes last to overwrite active and focus
//HER=>     &.disabled:not(.show-as-normal),  &:disabled:not(.show-as-normal) {
//HER=>         border-color: $border-color;
//HER=>     }
//HER=>
//HER=>
//HER=>     @if $border-color-hover != false {
//HER=>         @include control-border-color-hover($border-color-hover: $border-color-hover);
//HER=>     }
//HER=>
//HER=>     @if ($incl-error) {
//HER=>         .has-warning &:not(:focus):not(:disabled):not(.disabled) {
//HER=>             border-color: $danger;
//HER=>         }
//HER=>         .mouse-hover .has-warning &:hover:not(:focus):not(:disabled):not(.disabled) {
//HER=>             border-color: darken($danger, $darken-hover-percent);
//HER=>         }
//HER=>     }
//HER=> }

/************************************************************
CONTROL-COLORS
Sets all color for text, background, border for normal, :hover, :focus,  :active and .active
************************************************************/
@mixin _bg-color($color, $no-gradians) {
    @if $no-gradians {
        background: $color;
    } @else {
        @include gradient-bg($color);
    }
}
@mixin control-colors(
        $incl-active: true,
        $incl-border: true,
        $incl-bg    : true,
        $incl-error : false,
        $no-gradians: false,

        $color       : $control-color,
        $color-hover : darken($color, $darken-hover-percent),
        $color-active: darken($color, $darken-active-percent),
        $color-focus : darken($color, 40%),

        $bg-color       : $control-bg-color,
        $bg-color-hover : darken($bg-color, $darken-hover-percent),
        $bg-color-active: darken($bg-color, $darken-active-percent),

//HER=>         $border-color       : $control-border-color,
//HER=>         $border-color-hover : $control-border-color-hover,

        $active-color   : $control-active-color,
        $active-bg-color: $control-active-bg-color
      ){


    //Normal
    color: $color;
    @if ($incl-bg){
        @include _bg-color($bg-color, $no-gradians);
    }

    //hover, not active, not disabled
    .mouse-hover .hover &:not(:active):not(:disabled):not(.disabled),
    .mouse-hover &.hover:not(:active):not(:disabled):not(.disabled),
    .mouse-hover &:hover:not(:active):not(:disabled):not(.disabled) {
        color: $color-hover;
        @if ($incl-bg){
            @include _bg-color($bg-color-hover, $no-gradians);
        }
    }

    //:active
    &:active {
        color: $color-active;
        @if ($incl-bg){
            @include _bg-color($bg-color-active, $no-gradians);
        }
    }

//HER=>     //border-color - all states
//HER=>     @if ($incl-border){
//HER=>         @include control-border-color($border-color: $border-color, $border-color-hover: $border-color-hover, $incl-error: $incl-error);
//HER=>     }

    @if ($incl-active){
        &.active {
            @include control-colors(
                $incl-active: false,
                $incl-border: false,
                $color      : $active-color,
                $bg-color   : $active-bg-color
            );
        }
    }

    // Disabled comes last to overwrite active and focus
    //Overwrite bootstrap defalut opacity on element and replace it with opacity on text-color
    //If class=display-as-normal the control will not apear disabled
    &.disabled:not(.show-as-normal),  &:disabled:not(.show-as-normal) {
        opacity: 1 !important;
        color  : rgba($color, $btn-disabled-opacity);
        @if ($incl-bg){
            @include _bg-color($bg-color, $no-gradians);
        }
    }

}


/************************************************************
TYPE-COLOR
Bg-color and color for different 'type' (warning, alert, info, error, success)
Used in Noty and Modal
In Bootstrap v5 the following scss-variables are defined for each color

$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

Using
shift-color($color, $weight) {
  @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}


In Bootstrap 4:
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

$theme-color-interval:      8% !default;



************************************************************/

//$type-theme = convert between type and Bootstrap theme
$type-list: alert, success, warning, error, info, help;
$type-theme: (
    alert       : primary,
    success     : success,
    warning     : warning,
    error       : danger,
    info        : info,
    help        : light
);

// Bootstap 4 / jquery-bootstrap v2:
@mixin YT_type-colors( $type, $hover-class: false, $darken: 0 ){
    $color-name: map-get($type-theme, $type);
    $background-color: theme-color-level($color-name, -10);
    $color: theme-color-level($color-name, 6);

    background-color: darken($background-color, $darken);
    color           : darken($color, $darken);

    @if ($hover-class){
        &.#{$hover-class}:hover {
            background-color: darken($background-color, $darken-hover-percent);
            color           : darken($color, $darken-hover-percent);
        }
    }
}


@mixin type-colors( $type, $hover-class: false, $darken: 0 ){
    $color-name: map-get($type-theme, $type);
    $base-color: map-get($theme-colors, $color-name);
    $background-color: shift-color($base-color, -10 * 8);   //<= MANGLER skal bruge en standard *-scale variable fra Bootstrap
    $color           : shift-color($base-color, 6 * 8);     //<= MANGLER skal bruge en standard *-scale variable fra Bootstrap

    background-color: shade-color($background-color, $darken);
    color           : shade-color($color, $darken);

    @if ($hover-class){
        &.#{$hover-class}:hover {
            background-color: shade-color($background-color, $darken-hover-percent);
            color           : shade-color($color, $darken-hover-percent);
        }
    }
}


/************************************************************
HEADER AND TITLE BACKGROUND-COLOR AND COLOR
Headers for modal, popover, popup etc.
************************************************************/
/************************************************************
color-hover - Background-color and text-color for 'normal' and hover
************************************************************/
@mixin color-hover($color, $bg-color, $hover, $bg, $color-hover: false, $bg-color-hover: false ){
    @if $color {
        color: $color;
    }
    @if $bg and $bg-color {
        background-color: $bg-color;
    }
    @if $hover {
        .mouse-hover &:hover {
            @if $color {
                color: if( $color-hover, $color-hover, shade-color($color, $darken-hover-percent) ); //<= MANGLER skal bruge en standard *-scale variable fra Bootstrap
            }
            @if $bg and $bg-color {
                background-color: if($bg-color-hover, $bg-color-hover, shade-color($bg-color, $darken-hover-percent) ); //<= MANGLER skal bruge en standard *-scale variable fra Bootstrap
            }
        }
    }
}

/************************************************************
header-colors - Colors for headers
************************************************************/
@mixin header-colors(){
    color: $header-color;
    background-color: $header-bg-color;
}

/************************************************************
title-color - create colors for headers for table and accordion etc.
************************************************************/
@mixin title-color( $hover: false, $selected-selector: false, $bg: true, $invers: false ){

    @include color-hover(
        $color   : if($invers, $title-active-color, $title-color),
        $bg-color: if($invers, $title-active-bg-color, $title-bg-color),
        $hover   : $hover,
        $bg      : $bg
    );

    @if ($selected-selector){
        #{$selected-selector} {
            @include color-hover(
                $color   : if($invers, $title-color, $title-active-color),
                $bg-color: if($invers, $title-bg-color, $title-active-bg-color),
                $hover   : $hover,
                $bg      : $bg
            );
        }
    }
}

/************************************************************
HEADER, TITLE, AND FOOTER PADDING AND FONT-SIZE
Padding are set to button y-padding (moving text to the left)
************************************************************/
//Truncate header text in <span>
@mixin span-text-truncate(){
    span { @include text-truncate(); }
}

@mixin header-padding($size: ""){
    padding: header-padding-y($size) header-padding-x($size);
}

/************************************************************
header-variant
************************************************************/
@mixin header-variant( $size: "", $is-title: false, $incl-border: true, $font-weight: $font-weight-base ) {
    $font-size: $font-size-base;
    @if $is-title == true {
        $font-size: $font-size-base;
        @if $size == "sm" { $font-size: $font-size-sm; }
        @if $size == "xs" { $font-size: $font-size-xs; }
    }
    @if $is-title == false {
        $font-size: $font-size-header;
        @if $size == "sm" { $font-size: $font-size-header-sm; }
        @if $size == "xs" { $font-size: $font-size-header-xs; }
    }

/*
    $padding-x: $input-btn-padding-x;
    $padding-y: $input-btn-padding-y;
    @if $size == "sm" {
        $padding-x: $input-btn-padding-x-sm;
        $padding-y: $input-btn-padding-y-sm;
    }
    @if $size == "xs" {
        $padding-x: $input-btn-padding-x-xs;
        $padding-y: $input-btn-padding-y-xs;
    }
*/

    @include span-text-truncate();
    span.fixed-header {
        overflow  : visible;
        word-break: keep-all;
    }

    @include vertical-align-center();
    cursor: default;

    font-weight: $font-weight;

    @include button-size(
        $padding-x    : header-padding-x($size), //$padding-x,
        $padding-y    : header-padding-y($size), //$padding-y,
        $font-size    : $font-size,
// HER V3         $line-height  : $line-height-base,
        $border-radius: inherit
    );

    @if $incl-border == true {
        border-bottom: $modal-header-border-width solid $modal-header-border-color;
        border-bottom-right-radius: 0;
        border-bottom-left-radius : 0;
    }
}

@mixin header-variant-sm( $incl-border: true, $font-weight: $font-weight-base ) {
    @include header-variant( $size: "sm", $incl-border: $incl-border, $font-weight: $font-weight );
}

@mixin header-variant-xs( $incl-border: true, $font-weight: $font-weight-base ) {
    @include header-variant( $size: "xs", $incl-border: $incl-border, $font-weight: $font-weight );
}


/************************************************************
title-variant - as header but with same font-size as siblings
************************************************************/
@mixin title-variant( $size: "" ) {
    @include header-variant( $size: $size, $is-title: true, $incl-border: false );
}
@mixin title-variant-sm() {
    @include title-variant( $size: "sm" );
}
@mixin title-variant-xs() {
    @include title-variant( $size: "xs" );
}


/************************************************************
footer-variant
************************************************************/
@mixin footer-variant( $size: "", $incl-border-top: true ) {
    @include header-variant( $size: $size, $incl-border: false );
    @include header-colors();

    line-height: 1.25; //Decrease height

    @if $incl-border-top == true {
        border-top: $modal-footer-border-width solid $modal-footer-border-color;
    }

    border-top-left-radius : 0 !important;
    border-top-right-radius: 0 !important;

    //Hide when empty
    &:empty { display: none !important; }

}

@mixin footer-variant-sm( $incl-border-top: true ) {
    @include footer-variant( $size: "sm", $incl-border-top: $incl-border-top );
}

@mixin footer-variant-xs( $incl-border-top: true ) {
    @include footer-variant( $size: "xs", $incl-border-top: $incl-border-top );
}

/************************************************************
MARGIN-BOTTOM FOR ELEMENTS IN MODAL
All elements in modal-windows get same margin-bottom
************************************************************/
@mixin modal-element-margin-bottom(){
    //Overwrite bootstrap margin-bottom and replace if with not-last-child version
    margin-bottom: 0;
    &:not(:last-child){
        margin-bottom: $modal-element-margin-bottom;
    }
}

