/************************************************************
VARIABLES

Defines all scss-variables used in jquery-bootstrap

************************************************************/


//Set z-index for working...
$zindex-working: 99999;


/***********************************************
COLORS
Define differnt colors
************************************************/

//Buttons - standard
$btn-standard-background       : $gray-100;
$btn-standard-hover-background : $gray-300; //or $gray-200
$btn-standard-active-background: $gray-400; //or $gray-300




/***********************************************
CHECKBOX
************************************************/
/*
indeterminate colors = checkbox or checkbox-button with semi-selected state
Use same icon as for selected
*/
$form-check-input-indeterminate-bg-image: $form-check-input-checked-bg-image;


/***********************************************
BUTTON
************************************************/
//$btn-style-name MUST correspond with ns.bsButtonClass in src/jquery-bootstrap-button.js
$btn-style-name: jb;

//Opacity for semi-transparent buttons
$btn-standard-semi-transparent-bg       : .50;
$btn-standard-semi-transparent-hover-bg : .75;
$btn-standard-semi-transparent-active-bg: .95;


//Square Buttons - Dimentions for square buttons with only icons
$two-x-border-width-rem: 2 * $border-width-rem;

$button-square-dimension   : 2 * $btn-padding-y    + $font-size-base * $btn-line-height + $two-x-border-width-rem; //2 * $border-width-rem;
$button-square-dimension-sm: 2 * $btn-padding-y-sm + $font-size-sm   * $btn-line-height + $two-x-border-width-rem; //2 * $border-width-rem;

$button-square-dimension-xs: 2 * $btn-padding-y-xs + $font-size-xs   * $btn-line-height + $two-x-border-width-rem; //2 * $border-width-rem;

$button-big-scale: 1.6; //Scale for font-size and dimentions for big-size and/or big-font icons

$button-big-square-dimension   : roundRem( 2 * $btn-padding-y    + $button-big-scale * $font-size-base * $btn-line-height + $two-x-border-width-rem); //2 * $border-width-rem );
$button-big-square-dimension-sm: roundRem( 2 * $btn-padding-y-sm + $button-big-scale * $font-size-sm   * $btn-line-height + $two-x-border-width-rem); //2 * $border-width-rem );
$button-big-square-dimension-xs: roundRem( 2 * $btn-padding-y-xs + $button-big-scale * $font-size-xs   * $btn-line-height + $two-x-border-width-rem); //2 * $border-width-rem );












/************************************************************
Variables bassed on bootstrop variables
************************************************************/
//Modal size in rem
$modal-sm-rem: rem($modal-sm);
$modal-md-rem: rem($modal-md);
$modal-lg-rem: rem($modal-lg);

//Extra-large-modal
$modal-xl    : 1200px;
$modal-xl-rem: rem($modal-xl);

//Extra-extra-small font-size
$font-size-xxs: rem(11px);

/************************************************************
HEADER
Font-sizes for headers are one 'size' smaller than normal font
$font-size-lg  : 1.25rem    20px
$font-size-base: 1rem       16px
$font-size-sm  : .875rem;   14px
$font-size-xs  : .75rem     12px
************************************************************/
$font-size-header   : $font-size-sm;
$font-size-header-sm: $font-size-xs;
$font-size-header-xs: $font-size-xxs;

/************************************************************
BUTTON AND MODAL
Opacity for semi-transparent and transparent content
************************************************************/
$semi-transparent-opacity      : .5;
$semi-transparent-opacity-hover: .75;

//HER=> //Button
//HER=> $button-bg-color-semi-transparent      : rgba($control-bg-color, $semi-transparent-opacity);
//HER=> $button-bg-color-semi-transparent-hover: rgba($control-bg-color, $semi-transparent-opacity-hover);

//Modal
$modal-content-bg-semi-transparent      : rgba($modal-content-bg, $semi-transparent-opacity);
$modal-content-bg-semi-transparent-hover: rgba($modal-content-bg, $semi-transparent-opacity-hover);





/************************************************************
LABEL
Font-sizes for labels are same size as header but incl a xxs-size
************************************************************/
$font-size-label   : $font-size-header;
$font-size-label-sm: $font-size-header-sm;
$font-size-label-xs: $font-size-xxs;


/************************************************************
CONTENT
Unifies padding and font-size for content of modal, accordion, popup etc.
Using same font-size and vertical/horizontal padding as buttons
NOTE: For sm and xs y-padding = x-padding
************************************************************/
$content-padding-x   : $input-padding-x;
$content-padding-y   : $input-padding-y;

$content-padding-x-sm: $input-padding-x-sm;
$content-padding-y-sm: $input-padding-x-sm; //$input-padding-y-sm;

$content-padding-x-xs: $input-padding-x-xs;
$content-padding-y-xs: $input-padding-x-xs; //$input-padding-y-xs;

/************************************************************
MARGIN-BOTTOM
All elements in modal-windows get same margin-bottom
************************************************************/
$modal-element-margin-bottom: $modal-dialog-margin;
