/************************************************************
ACCORDION

Using Bootstrap Collapse to create accordion
************************************************************/
.accordion {
    .card {
        &.show {
            border-color: $card-show-border-color;
        }
    }

    .card-header {
        @include title-color(true, '&.collapsed', true, true);// ($hover: false, $selected-class: '', $bg: true, $invers: false  );
        @include title-variant();
        @include vertical-align-center();
        @include border-radius($card-border-radius);
        .chevrolet {
            @include right-side-icon( $fa-var-chevron-down ); //Default open => fa-chevron-down
        }
        &.collapsed .chevrolet:before {
            content: fa-content($fa-var-chevron-right); //fa-chevron-right
        }
    }

    .card-block {
        @include content-padding-sm(); //Allways small content - no need for interaction
        @include border-radius($card-border-radius);
    }

    .card-footer {
        @include footer-variant( false );
        @include border-radius($card-border-radius);
    }

    &.no-transition .collapsing,
    &.no-transition .collapse {
        //no-transition allow to open or close card without animation
        transition: none !important;
    }
}



//Size and padding for small-version
.modal-dialog-sm .accordion,
.modal-dialog-xs .accordion,
.accordion-sm {
    .card-header {
        @include title-variant-sm();
    }
    .card-block {
        @include content-padding-sm();
    }
    .card-footer {
        @include footer-variant-sm( false );
        @include border-radius($card-border-radius);
    }
}

