/************************************************************
ACCORDION

Using Bootstrap Collapse to create accordion
************************************************************/
.accordion {
    .card {
        &.show {
            border-color: $card-show-border-color !important;;
        }
    }

    .card-header {
        &.collapsible {
            @include title-color(
                $hover            : true,
                $selected-selector: '&.collapsed',
                $invers           : true
           );
        }
        &:not(.collapsible) {
            @include title-color();
        }

        @include title-variant();
        @include vertical-align-center();
        @include border-radius($card-border-radius);
        .chevrolet {
            @include right-side-icon( $fa-var-chevron-down ); //Default open => fa-chevron-down
        }
        &.collapsed .chevrolet:before {
            content: fa-content($fa-var-chevron-right); //fa-chevron-right
        }
    }

    .card-block {
        @include content-padding-sm(); //Allways small content - no need for interaction
        @include border-radius($card-border-radius);
    }

    .card-footer {
        @include footer-variant( $incl-border-top: false );
        @include border-radius($card-border-radius);
    }

    &.no-transition .collapsing,
    &.no-transition .collapse {
        //no-transition allow to open or close card without animation
        transition: none !important;
    }

    /**********************************************************************
    BUG FIX for Bootstrap 4.1.3:
    When only one card in accordion the card gets style as if was intermediate
    Both condition :first-of-type and :last-of-type are met if only one card
    **********************************************************************/
    /* This style are correct
    .card:not(:first-of-type):not(:last-of-type) {
        border-bottom: 0;
        border-radius: 0;
    }

    .card:not(:first-of-type) {
        .card-header:first-child {
            border-radius: 0;
        }
    }
    */

    .card:first-of-type {
        //First: overwrite Bootstrap style:
        //border-bottom             : 0;
        //border-bottom-right-radius: 0;
        //border-bottom-left-radius : 0;
        //with:
        border-bottom: $card-border-width solid $card-border-color;
        border-bottom: $card-border-width solid $card-border-color;
        @include border-bottom-radius($card-border-radius);

        //Then: Add Bootstrap style for correct selector
        &:not(:last-of-type) {
            border-bottom             : 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius : 0;
        }
    }

    .card:last-of-type {
        //First: overwrite Bootstrap style:
        //border-top-left-radius : 0;
        //border-top-right-radius: 0;
        //with:
        @include border-top-radius($card-border-radius);

        //Then: Add Bootstrap style for correct selector
        &:not(:first-of-type) {
            border-top-left-radius : 0;
            border-top-right-radius: 0;
        }
    }
}



//Size and padding for small-version
.modal-dialog-sm .accordion, .accordion-sm {
    .card-header {
        @include title-variant-sm();
    }
    .card-block {
        @include content-padding-sm();
    }
    .card-footer {
        @include footer-variant-sm( $incl-border-top: false );
        @include border-radius($card-border-radius);
    }
}


//Size and padding for extra-small-version
.modal-dialog-xs .accordion, .accordion-xs {
    .card-header {
        @include title-variant-xs();
    }
    .card-block {
        @include content-padding-xs();
    }
    .card-footer {
        @include footer-variant-sm( $incl-border-top: false );
        @include border-radius($card-border-radius);
    }
}
