/************************************************************
BUTTON

************************************************************/

/************************************************************
To be able to control font-family etc. 'buttons'
can be created as <div>
cursor-style added to prevent text-cursor on buttons
Also overwrite default bootstrap behaviour
************************************************************/
a.btn, a.list-group-item,
div.btn, div.list-group-item {
    cursor: default;
}

.btn:not(:disabled):not(.disabled) {
    cursor: default !important;
}

.btn.btn-#{$btn-style-name}{
    //min-width used for buttons with short text ("Ok")
    &.min-width {
        min-width: 5em;
    }

    @include box-shadow($btn-box-shadow);

    &:active {
        @include box-shadow($btn-active-box-shadow);
        z-index: 2;
    }

    @include control-colors($incl-error: true);

    &.primary {
        $primary-color: map-get($theme-colors, primary );
        @include control-colors(
                $incl-active: false,
                $incl-bg    : false,

                $color: $primary-color,

                $border-color      : $primary-color,
                $border-color-hover: darken($primary-color, $darken-border-color-hover-percent)
        );
    }

    //Icons in buttons get equal size to allow shift of icon
    & > i.fa {
        min-width : 1em;
        text-align: left;
        &:only-child {
            text-align: center;
        }
    }

    //Container for stacked icons get same size as single icon
    & > span.fa-stack {
        width         : 1em;
        height        : 1em;
        line-height   : 1.5 * $font-size-sm;
        vertical-align: top;
    }


    //Overwrite Bootstrap default opacity for disabled buttons when class .show-as-normal is added
    &.disabled.show-as-normal, &.show-as-normal:disabled {
        opacity: 1;
    }

    /************************************************************
    Special version to have transparent button
    Default is light color on dark background
    TODO: Add transparent-on-light to have dark color og light background
    ************************************************************/
    &.transparent {
        background: none;

        $color-transparent: #D4D4D4;
        @include control-colors(
            $incl-active : true,

            $color       : $color-transparent,
            $color-hover : lighten($color-transparent, $darken-hover-percent),
            $color-active: lighten($color-transparent, $darken-active-percent),
            $color-focus : lighten($color-transparent, 40%),

            $bg-color    : rgba(0,0,0,0),

            $border-color      : rgba(0,0,0, .1),
            $border-color-hover: rgba(0,0,0,.15)
        );
    }

    &.semi-transparent {
        background: none;
        @include control-colors(
            $incl-active    : true,
            $incl-border    : false,
            $no-gradians    : true,
            $bg-color       : $button-bg-color-semi-transparent,
            $bg-color-hover : $button-bg-color-semi-transparent-hover,
            $bg-color-active: darken($button-bg-color-semi-transparent-hover, $darken-active-percent)
        );
    }
    /************************************************************
    Special version to have square buttons (with only icon)
    ************************************************************/
    &.square {
        $square-icon-width: 1.25em; //Same as fa-fw

        //Horizontal and vertical center using flex-box
        display        : inline-flex;
        align-items    : center;
        justify-content: center;

        padding: 0 !important;

        height: $button-square-dimension;
        width : $button-square-dimension;

        &.btn-sm {
            height: $button-square-dimension-sm;
            width : $button-square-dimension-sm;
        }

        //.big-icon = Extra big icons
        @mixin big-icon-font-size( $original-font-size ){
            font-size: roundRem($original-font-size * 1.6); //round($original-font-size/1rem*1.6*16px) / 16px * 1rem;
        }
        &.big-icon          { @include big-icon-font-size( $font-size-base ); }
        &.btn-sm.big-icon   { @include big-icon-font-size( $font-size-sm   ); }

        //Center icon and make space for icons with width > height
        & > i.fa {
            width     : $square-icon-width;
            height    : 1em;
            text-align: center;
        }
    }

    //Extra-extra large icon => The button gets bigger
    $big-icon-padding: 0.25rem;
    &.extra-large-icon {
        line-height    : 1;
        padding        : $big-icon-padding !important;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
        font-size      : 2rem;
    }
}

/************************************************************
Modernizr-test for elements with class="active" when selected
************************************************************/
@include show-and-hide-for-modernizr-test(
	$modernizr-test     : 'active',
	$parent-element-type: '.btn',
    $incl-table-display : false
);

/************************************************************
Including .btn-xs and btn-group-xs as in Bootstrap 3
************************************************************/
.btn-xs {
    @include button-size(
        $padding-y    : $btn-padding-y-xs,
        $padding-x    : $btn-padding-x-xs,
        $font-size    : $font-size-xs,
        $line-height  : $input-btn-line-height-sm,
        $border-radius: $btn-border-radius-xs
    );
}
.btn-group-xs > .btn { @extend .btn-xs; }


/************************************************************
BUTTON-GROUP
************************************************************/
//Buttons in vertical button-groups with left-aligned contents (default = center)
.btn-group-vertical.btn-group-left > .btn {
    @extend .text-left;
}

//Vertical button-group insides in popover and vertical button-group with full width: width = 100%
.popover-body .btn-group-vertical,
.btn-group-vertical.btn-group-full-width {
    @extend .w-100;
}

//Horizontal button-group inside input-group or with full width gets equal width
.input-group .btn-group,
.btn-group:not(.btn-group-vertical).btn-group-full-width {
    display: flex;
    width  : 100%;
    .btn {
        flex: 1 0 10px;
    }
}

//Horizontal button-group centered in it parent
.btn-group:not(.btn-group-vertical).btn-group-center-in-parent {
    width  : auto;
    margin : auto;
    display: block;
}

//With border
.btn-group, .btn-group-vertical {
    &.btn-group-border {
        border: 1px solid $card-border-color;
        border-radius: $btn-border-radius;
        &.btn-group-sm {
            border-radius: $btn-border-radius-sm;
        }
        &.btn-group-xs {
            border-radius: $btn-border-radius-xs;
        }
    }
}


//Add padding-top when inside a input-group with label
.has-fixed-label ~ .btn-group {
    padding-top: 3px;
}

//Header inside vertical button-group
.btn-group-vertical {
    .btn-group-header {
        @include title-variant();
        @include title-color();
        line-height: 1.3;
        width: 100%;

        //Adjust padding for buttons after a header
        & ~ .btn {
            padding-left: 2*$btn-padding-x;
        }
    }

    //Small
    &.btn-group-sm .btn-group-header {
        @include title-variant-sm();
        line-height: 1.3;
        & ~ .btn {
            padding-left: 2*$btn-padding-x-sm;
        }
    }

    //Extra small
    &.btn-group-xs .btn-group-header {
        @include header-variant-sm( $incl-header: false, $xs-padding: true );
        line-height: 1.3;
        & ~ .btn {
            padding-left: 2*$btn-padding-x-xs;
        }
    }

    //Margin between two .btn-group-vertical
    & + .btn-group-vertical {
        margin-top: $content-padding-y;
        &.btn-group-sm {
            margin-top: $content-padding-y-sm;
        }
        &.btn-group-xs {
            margin-top: $content-padding-y-sm;
        }
    }
}



/************************************************************
MENU (BUTTON-GROUP)
************************************************************/
.bs-menu-container {
    hr {
        width: 100%;
        margin: $input-btn-padding-y 0;
        padding: 0;
    }
    hr.first.before, hr.last.after, hr + hr {
        display: none;
    }
}
