/**************************************************
CHECKBOX
Checkbox and Radio
**************************************************/
div.checkbox, div.radio {
    display    : flex;
    align-items: normal;
    line-height: $input-btn-line-height;
    cursor     : default;

    --#{$prefix}check-input-font-size: #{$jb-font-size};
    font-size: var(--#{$prefix}check-input-font-size);

    --#{$prefix}check-input-padding-y: #{$jb-padding-y};
    padding  : var(--#{$prefix}check-input-padding-y) 0;

    //Reset margin-top since div.checkbox/radio has padding
    .form-check-input {
        margin-top: var(--#{$prefix}check-input-padding-y);
    }


    input.semi-selected {
        background-color: #{$form-check-input-indeterminate-bg-color};
    }

    label {
        margin-left: 0.5em;
    }
}

//div.radio gets round shape and radio icon
div.radio input.form-check-input {
    border-radius   : 50%;

    &:checked[type=checkbox] {
        background-image: escape-svg($form-check-radio-checked-bg-image);
    }
}


//Small version
div.checkbox-sm, div.radio-sm {
    --#{$prefix}check-input-font-size: #{$jb-font-size-sm};
    --#{$prefix}check-input-padding-y: #{$jb-padding-y-sm};
}

//Extra Small version (not used)
div.checkbox-xs, div.radio-xs {
    --#{$prefix}check-input-font-size: #{$jb-font-size-xs};
    --#{$prefix}check-input-padding-y: #{$jb-padding-y-xs};
}
