/************************************************************
COLOR

background-color and text-color for
headers modal, popover, tables, buttons, list-items etc.

"$header-" is used for header to modal-windows and popover
"$title-" is used for headers on content - table, accordion etc.
"$control-" is used for buttons, list-items etc.
************************************************************/

//Persent to use to darken colors when active and on hover
$darken-active-percent: 7.5%;
$darken-hover-percent : 5%;

//Bg-color and color for normal controls
$control-bg-color: $gray-100;

$control-color   : #515961; //Between $gray-600 asnd $gray-700;


//Global border-color for buttons, lists, inputs etc.
$control-border-color      : $input-border-color; // = $gray-400
//$control-border-color-hover: $gray-500;
//$control-border-color-hover: $gray-600;
$control-border-color-hover: #8C959D; //= ($gray-500 + $gray-600) / 2


$darken-border-color-hover-percent: 15%;

//Bg-color and color for modal and popover header
$header-bg-color: rgb(242,242,242);        //Same as tab-color on some browser. Original = $gray-100;
$header-color   : $dropdown-header-color; //= $gray-600

//Bg-color and color for table, accordion etc.
$title-bg-color: $table-head-bg;    //= $gray-200
$title-color   : $table-head-color; //= $gray-700

//Bg-color and color for "open"/active table, accordion, bottons, list-items etc
$title-active-bg-color: $gray-300;
$title-active-color   : $gray-800;


//Bg-color and color for lists (selectlist, selectbox etc.)
$selectlist-bg-color: $input-bg;
$selectlist-color   : $control-color;

//Bg-color and color for controls ~ buttons, list-items etc.
//"Blue"-version
$control-active-bg-color: $list-group-active-bg;
$control-active-color   : $list-group-active-color;

//"Gray"-version used for selected but not active eq. the style of the selected item when hover over another item
$control-selected-bg-color: $title-active-bg-color;
$control-selected-color   : $title-active-color;

//Bg-color for semi-selected checkbox
$semi-selected-bg-color      : $orange;
$semi-selected-bg-color-hover: darken($semi-selected-bg-color, $darken-hover-percent);

//Border-color for open/show accordions/cards
$card-show-border-color: darken( $card-border-color, 25% );

