/************************************************************
COMMON

Common classes for differnet elements
************************************************************/


//min-width by em

.min-width-1em   { min-width:  1em; }
.min-width-2em   { min-width:  2em; }
.min-width-3em   { min-width:  3em; }
.min-width-4em   { min-width:  4em; }
.min-width-5em   { min-width:  5em; }
.min-width-6em   { min-width:  6em; }
.min-width-7em   { min-width:  7em; }
.min-width-8em   { min-width:  8em; }
.min-width-9em   { min-width:  9em; }
.min-width-10em  { min-width: 10em; }
.min-width-11em  { min-width: 11em; }
.min-width-12em  { min-width: 12em; }
