/***********************************************
FORMVALIDATION
************************************************/

/************************************************************
Style for formValidation (via fcoo-form-validation)
************************************************************/
@mixin form-control-feedback( $font-size, $padding-bottom, $padding-left ){
    $padding-factor: 2; //1.6;
    $height: $font-size + $padding-factor * $padding-bottom;
    padding-top   : $padding-bottom;
    padding-bottom: $height;

    &.has-warning {
        padding-bottom: 0px;
    }

    &.no-validation {
        padding-bottom: $padding-bottom;
    }

    .form-control-feedback {
        height        : $height;
        font-size     : $font-size;
        color         : $red;
        padding-left  : $padding-left;
        vertical-align: top;
    }

}

.form-group  {
    line-height   : 1;
    margin-bottom : 0;
    .form-control-feedback {
        line-height   : 1;
        padding-top   : 0;
        padding-bottom: 0;
    }
    @include form-control-feedback( $font-size-header, $input-padding-y, $input-padding-x);

    //Bug fix ? to prevent previous error to disappear when reused
    &.has-warning .form-control-feedback[data-fv-result="INVALID"]{
        display: inline-block !important;
    }
}


//Different size
.form-group.form-group-sm {
    @include form-control-feedback( $font-size-header-sm, $input-padding-y-sm, $input-padding-x-sm);
}
.form-group.form-group-xs {
    @include form-control-feedback( $font-size-header-xs, $input-padding-y-xs, $input-padding-x-xs);
}

.form-group.fv-do-not-validate {
    visibility: hidden;
}