/************************************************************
FORM

The default bootstrap structure used for elements in a form is
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">               //optional
            <button class="btn btn-standard">..</buton> //optional 1-N times
        </div>                                          //optional

        <label class="has-float-label">
            <input class="form-control form-control-with-label" type="text" placeholder="The placeholder...">
            <span>The label</span>
        </label>

        <div class="input-group-append">                //optional
            <button class="btn btn-standard">..</buton> //optional 1-N times
        </div>                                          //optional
    </div>
</div>
************************************************************/

//modal-content with error in fields
.modal-content.modal-has-warning {
    border: 1px solid $red;
    @include box-shadow(0 .25rem .5rem rgba($red, .5)); //As $modal-content-box-shadow-xs  with $red instead of $black
}

@include media-breakpoint-up(sm) {
    .modal-content.modal-has-warning {
        @include box-shadow(0 .5rem 1rem rgba($red, .5)); //as $modal-content-box-shadow-sm-up with $red instead of $black
    }
}


//General form-group without space for validation message
//Standard is that padding-bottom = 2*padding-top to make space for the label on the next input
//If there are no label on the input after => add class small-bottom-padding to adjust bottom-padding
.form-group {
    line-height   : 1;
    margin-bottom : 0;

    padding-top   :     $input-padding-y;
    padding-bottom: 2 * $input-padding-y;
    &.small-bottom-padding {
        padding-bottom: $input-padding-y;
    }

    hr {
        border-color : $card-border-color;
        &.before {
            margin-top   : 0;
            margin-bottom: $input-padding-y;
            &.above-label {
                margin-bottom: 3 * $input-padding-y;
            }
        }
        &.after {
            margin-top   : $input-padding-y;
            margin-bottom: 0;
        }
    }
}

//Different size
.form-group.form-group-sm {
    padding-top   :     $input-padding-y-sm;
    padding-bottom: 2 * $input-padding-y-sm;
    &.small-bottom-padding {
        padding-bottom: $input-padding-y-sm;
    }
    hr.above-label { margin-bottom: 3 * $input-padding-y-sm; }
}
.form-group.form-group-xs {
    padding-top   :     $input-padding-y-xs;
    padding-bottom: 2 * $input-padding-y-xs;
    &.small-bottom-padding {
        padding-bottom: $input-padding-y-xs;
    }
    hr.above-label { margin-bottom: 3 * $input-padding-y-xs; }
}

/************************************************************
Style for formValidation (via fcoo-form-validation)
form-group inside a <form class="form-validation"> gets special style for validation-state and messages
************************************************************/
@mixin form-control-feedback( $font-size, $padding-bottom, $padding-left ){
    $padding-factor: 2; //1.6;
    $height: $font-size + $padding-factor * $padding-bottom;
    padding-top   : $padding-bottom;
    padding-bottom: $height;

    &.has-warning {
        padding-bottom: 0px;
    }

    &.no-validation {
        padding-bottom: $padding-bottom;
    }

    .form-control-feedback {
        height        : $height;
        font-size     : $font-size;
        color         : $red;
        padding-left  : $padding-left;
        vertical-align: top;
    }
}


form.form-validation {
    .form-group {
        .form-control-feedback {
            line-height   : 1;
            padding-top   : 0;
            padding-bottom: 0;
        }
        @include form-control-feedback( $font-size: $font-size-header, $padding-bottom: $input-padding-y, $padding-left: $input-padding-x);

        //Bug fix ? to prevent previous error to disappear when reused
        &.has-warning .form-control-feedback[data-fv-result="INVALID"]{
            display: inline-block !important;
        }


        //Different size
        &.form-group-sm {   @include form-control-feedback( $font-size: $font-size-header-sm, $padding-bottom: $input-padding-y-sm, $padding-left: $input-padding-x-sm);    }
        &.form-group-xs {   @include form-control-feedback( $font-size: $font-size-header-xs, $padding-bottom: $input-padding-y-xs, $padding-left: $input-padding-x-xs);    }
        &.fv-do-not-validate {
            visibility: hidden;
        }
    }

}


//Making input-group single line inside form-group
.form-group .input-group {
    flex-wrap: nowrap;
}


//Add outline on the inside when focus
.form-control {
    @include control-border-color();
}

//Including .form-control-xs and .input-group-xs as in Bootstrap 3
.form-control-xs {
    padding: $input-padding-y-xs $input-padding-x-xs;
    font-size: $font-size-xs;
}

.input-group-xs {
    & > .form-control,
    & > .input-group-prepend > .input-group-text,
    & > .input-group-append > .input-group-text,
    & > .input-group-prepend > .btn,
    & > .input-group-append > .btn {
        @extend .form-control-xs;
    }
}


.input-group-border {
    padding: $input-padding-y $input-padding-x;

    border: $input-border-width solid $input-border-color;
    @include border-radius($input-border-radius);


    &.input-group-sm, &.input-group-xs  {
        padding: $input-padding-y-sm $input-padding-x-sm;
        @include border-radius($input-border-radius-sm);
    }

    &.input-group-border-with-label {
        margin-top: 0.25em;
    }
}

//Make form-control inherited size when they are inside a label with class=has-float-label
.input-group-lg > label.has-float-label > .form-control { @extend .form-control-lg; }
.input-group-sm > label.has-float-label > .form-control { @extend .form-control-sm; }
.input-group-xs > label.has-float-label > .form-control { @extend .form-control-xs; }


