/************************************************************
HEADER

Style for header text and icons
************************************************************/

/****************************************************
Icons for modal header inside a container
<i class="header-icon fa-XX [hidden][disabled]"/>
****************************************************/
.header-icon-container {
    @include vertical-align-center();
    justify-content: center;
    margin-left : auto;
    margin-right: 0;

    font-size : 1.5em;

    > * { margin-left: .2em; }

    .fa-stack {
        //Make stacked icon same size as single icons
        height     : 1em;
        width      : 1em;
        line-height: 1em;
    }

    .header-icon {
        //Common style
        color      : $close-color;
        text-shadow: $close-text-shadow;
        opacity    : .5;
        cursor     : default;

        &.disabled { opacity: .25;  }
        &.hidden   { display: none; }

        & .show-for-hover { display: none; }

        &:not(.disabled):hover {
            .show-for-hover { display: inherit; }
            .hide-for-hover { display: none; }

            color: $close-color;
            text-decoration: none;
            opacity: .75;

            &:active { opacity: .9; }
        }

        //Special version for close-icon
        &.header-icon-close {
            &:not(.disabled):hover {
                opacity: .9;
                &:active { opacity: 1; }
            }
        }
    } //end of .header-icon {
} //end of .header-icon-container {
