    /************************************************************
HEADER-FOOTER
Style for text and icons in headers and footers for
modal, popover, accordion, noty etc.
************************************************************/

/************************
HEADER-CONTENT
.header-content = Inner content
.header-content-container = outer class  with padding. used when no parent clsass gives padding
************************/
.header-content-container {
    padding: var(--#{$prefix}modal-header-padding);
}

.header-content {
    display         : flex;
    align-items     : center;
    justify-content : left;

    flex-shrink: 0;
    flex-grow  : 0;

    color           : var(--#{$jb-prefix}header-color);
    background-color: var(--#{$jb-prefix}header-bg);

    cursor        : default;
    pointer-events: none;

    &.clickable {
        cursor        : pointer;
        pointer-events: inherit;
    }


    //header-content-smaller = Smaller font-size and padding for inner headers
    &.header-content-smaller {
        font-size       : var(--#{$prefix}footer-font-size);
        padding         : var(--#{$prefix}footer-padding-y) var(--#{$prefix}footer-padding-x);
    }

    //Colors for inner-header and header inside another header/content
    &.header-content-inner,
    .modal-body & {
        color           : var(--#{$jb-prefix}inner-header-color);
        background-color: var(--#{$jb-prefix}inner-header-bg);
    }

    //<span> with the text: Truncated to keep one line
    span {
        @include text-truncate();

        //Fixed header = Part of the header always visible
        &.fixed-header {
            overflow  : visible;
            word-break: keep-all;
        }
    }

    /****************************************************
    List of icons inside a header are placed inside a container
    <div class="header-icon-container>
        <i class="header-icon fa-XX [hidden][disabled]"/>
        <i class="header-icon fa-YY [hidden][disabled]"/>
    </div>
    ****************************************************/
    .header-icon-container {
        --icon-height       : auto;
        --icon-width        : 1em;
        --icon-margin-left  : .2em;
        --icon-border-radius: 50%;
        --font-size         : calc(var(--bs-modal-content-font-size)* 4 / 3);
        --container-height  : calc( 1.5 * var(--bs-modal-content-font-size) + 2 * var(--#{$prefix}modal-header-padding-y) );

        display        : flex;
        align-items    : center;
        pointer-events : initial;

        flex-shrink    : 0;
        justify-content: space-between;
        margin-left    : auto;
        margin-right   : 0;


        margin-top   : calc(-1 * var(--#{$prefix}modal-header-padding-y));
        margin-bottom: calc(-1 * var(--#{$prefix}modal-header-padding-y));
        height       : var(--container-height);
        font-size    : var(--font-size);

        > * { margin-left: var(--icon-margin-left); }

        .fa-stack {
            //Make stacked icon same size as single icons
            height     : 1em;
            width      : 1em;
            line-height: 1em;
        }


        .header-icon {
            //Common style
            height     : var(--icon-height);
            width      : var(--icon-width);
            text-align : center;
            cursor     : pointer;

            &.hidden   { display: none; }

            color: var(--#{$jb-prefix}header-color);
            border-radius: var(--icon-border-radius);

            &:hover, &:active {
                box-shadow: 0px 0px 3px 0px var(--#{$jb-prefix}header-color);
            }

            //Special version for warning-icon: yellow background white exclamation
            &.header-icon-warning {
                .middle  {
                    //Fine tuning to place "!" in center of circle
                    font-size: .6em;
                    position : relative;
                    top      : -0.25em;
                    left     : -.3em;
                }
            }
        } //end of .header-icon {

        //If the header has square icons
        &.with-square-icons {
            --icon-height       : 100%;
            --icon-width        : 1.3em;
            --font-size         : calc(var(--bs-modal-content-font-size)* 5 / 4);
            --icon-margin-left  : 0;
            --icon-border-radius: 0;

            --icon-bg       : none;
            --icon-hover-bg : rgba(0,0,0, .10);
            --icon-active-bg: rgba(0,0,0, .15);

            //Move the icons to the right edge
            margin-right: calc(-1 * var(--#{$prefix}modal-header-padding-x));

            .header-icon {
                background-color: var(--icon-bg);

                padding-top: calc(var(--container-height) / 2 - calc(var(--font-size)) / 2);

                &:hover, &:active { box-shadow: none; }
                &:hover  { color: var(--icon-hover-color); background-color: var(--icon-hover-bg); }
                &:active { color: var(--icon-hover-color); background-color: var(--icon-active-bg); }

                &:last-child {
                    border-top-right-radius: var(--bs-modal-inner-border-radius);
                }

                &.header-icon-close {
                    width: var(--container-height);
                    --icon-hover-color: white;
                    --icon-hover-bg   : #{$red};
                    --icon-active-bg  : #{darken($red, 10%)};
                }
                &.header-icon-warning {
                    --icon-bg         : #{$warning};
                    --icon-hover-bg   : #{darken($warning,  5%)};
                    --icon-active-bg  : #{darken($warning, 10%)};
                }
                &.header-icon-selected {
                    --icon-bg         : #{$form-check-input-checked-bg-color};
                    --icon-hover-bg   : #{darken($form-check-input-checked-bg-color,  5%)};
                    --icon-active-bg  : #{darken($form-check-input-checked-bg-color, 10%)};
                }
            }
        }
    } //end of .header-icon-container {
} //end of .header-content




/************************
FOOTER-CONTENT
************************/
//Overwrite bg-color with new var
div.modal-footer {
    color           : var(--#{$jb-prefix}footer-color);
    background-color: var(--#{$jb-prefix}footer-bg);
}

.footer-content {

    line-height : 1.25; //Decrease height
    font-size   : var(--#{$prefix}footer-font-size);

    display         : flex;
    align-items     : center;
    justify-content : left;

    flex-shrink: 0;
    flex-grow  : 0;

    padding         : var(--#{$prefix}footer-padding-y) var(--#{$prefix}footer-padding-x);

    color           : var(--#{$jb-prefix}footer-color);
    background-color: var(--#{$jb-prefix}footer-bg);


    border-top      : var(--#{$prefix}modal-header-border-width) solid var(--#{$prefix}modal-header-border-color);
    @include border-bottom-radius(var(--#{$prefix}modal-inner-border-radius));
    &.no-border {
        border-top: none;
    }




    //Hide when empty
    &:empty { display: none !important; }


} // end of .footer-content



/************************
STAND ALONE FOOTER-CONTENT
Footer content outside modal
************************/

.jb-footer-content {
    @extend .footer-content;
    @include footer-size-variant( 'nl');

    &.jb-footer-content-sm {
        @include footer-size-variant( 'sm');
    }

    &.jb-footer-content-xs {
        @include footer-size-variant( 'xs');
    }
}
