/************************************************************
HEADER

Style for header text and icons
************************************************************/

/****************************************************
Icons for modal header inside a container
<i class="header-icon fa-XX [hidden][disabled]"/>
****************************************************/
.header-icon-container {

    @include vertical-align-center();
    justify-content: center;
    margin-left : auto;


    //Normal size
    $padding   : $btn-padding-x / 2;
    $font-size : 1.35em;

    font-size  : $font-size;
    margin-right: - $padding;

    > .header-icon {
        margin : 0;
        padding: 0 $padding;
    }
    .fa-stack {
        //Make stacked icon same size as single icons
        font-size  : $font-size;
        height     : $font-size;
        width      : $font-size;
        line-height: $font-size;
    }

    //Small size
    &.header-icon-container-sm {
        $padding   : $btn-padding-x-sm / 2;
        $font-size: 1.2em;

        font-size   : $font-size;
        margin-right: - $padding;

        > .header-icon {
            margin : 0;
            padding: 0 $padding;
        }
        .fa-stack {
            //Make stacked icon same size as single icons
            font-size  : $font-size;
            height     : $font-size;
            width      : $font-size;
            line-height: $font-size;
        }
    }

    .header-icon {
        //Common style
        color      : $close-color;
        text-shadow: $close-text-shadow;
        opacity    : .5;
        cursor     : default;

        &.disabled {
            opacity: .25;
        }

        & .show-for-hover { display: none; }

        &:not(.disabled):hover {
            .show-for-hover { display: inherit; }
            .hide-for-hover { display: none; }

            color: $close-color;
            text-decoration: none;
            opacity: .75;

            &:active { opacity: .9; }
        }

        //Special version for close-icon
        &.header-icon-close {
            &:not(.disabled):hover {
                opacity: .9;
                &:active { opacity: 1; }
            }
        }
    } //end of .header-icon {
} //end of .header-icon-container {
