/************************************************************
ICON-FONTS

Special subset of different icon-fonts
************************************************************/


@font-face {
    font-family: 'modal-header-icons';
    src:  url('fonts/modal-header-icons.woff?mhcpxw') format('woff');
    font-weight: normal;
    font-style: normal;
}

