/************************************************************
Icon
Classes for special BS icons = colored icon using Bootstrap alert colors
************************************************************/

//Use Bootstrap alert-COLOR for different colors of icons
i[class*="bs-icon-front-color-"], i[class*="bs-icon-back-color-"]{
    --icon-bs-color: inherit;
    color: var(--icon-bs-color);
}

@each $type, $alert-color in $type-2-alert-color {
    i.bs-icon-front-color-#{$type} {
        --icon-bs-color: var(--bs-#{$alert-color}-text-emphasis);;
    }
    i.bs-icon-back-color-#{$type} {
        --icon-bs-color: var(--bs-#{$alert-color}-bg-subtle);
    }
}

