/************************************************************
MIXIN
************************************************************/

//************************************************************
// All size-versions of font-size, padding, border-radius is
// created by including css-variables a la --bs-modal-font-size: .85rem;
//
// The value is taken from one of the maps named $jb-mp-NAME in _variables-bootstrap.scss
//
// The css-variable format = --bs-COMPONENT-PROPERTY
//
// Some Bootstrap scss-variables also come in a -sm version.
// These are overwritten directly in _variables-bootstrap.scss
//************************************************************
@function _get-value( $map-id, $size ){
    @return map-get( map-get($bs-maps, $map-id), $size );
}

@mixin _css-variable(
    $component,
    $property,
    $size       : "nl",
    $map-id     : $property,
    $value      : _get-value( $map-id, $size )
 ){
    --#{$prefix}#{$component}-#{$property}: #{ $value };
}

/************************************************************
PROPERTY-VARIANT
Varients of different properties
************************************************************/
@mixin font-size-variant( $component, $size){
    @include _css-variable($component, 'font-size', $size);
}

@mixin padding-variant( $component, $size){
    @include _css-variable($component, 'padding-x', $size);
    @include _css-variable($component, 'padding-y', $size);
    @include _css-variable(
        $component  : $component,
        $property   : 'padding',
        $size       : $size,
        $value      : _get-value('padding-y', $size ) _get-value('padding-x', $size)
    );
}

@mixin border-radius-variant( $component, $size){
    @include _css-variable($component, 'border-radius', $size);
}

@mixin inner-border-radius-variant( $component, $size){
    @include _css-variable($component, 'inner-border-radius', $size);
}


/************************************************************
HEADER and FOOTER-VARIANT
Adjust padding and font-size for header and footer
************************************************************/
@mixin header-size-variant( $size ){
    @include padding-variant("modal-header", $size);
}

@mixin footer-size-variant( $size ){
    @include _css-variable(
        $component  : 'footer',
        $property   : 'font-size',
        $size       : $size,
        $value      : _get-value( 'footer-content-font-size', $size )
    );

    @include _css-variable('footer', 'padding-y', $size);
    @include _css-variable('footer', 'padding-x', $size);
}


@mixin _header-content-footer-variant( $parent, $size ){
    #{$parent}-#{$size}{

        @include font-size-variant("modal-content", $size);
        @include padding-variant("modal", $size);

        .header-content {
            @include header-size-variant($size);
        }

        .footer-content {
            @include footer-size-variant($size);
        }
    }
}

@mixin header-content-footer-variant( $parent ){
    @include _header-content-footer-variant($parent, 'sm');
    @include _header-content-footer-variant($parent, 'xs');
}

