/************************************************************
MIXIN
************************************************************/

/************************************************************
RIGHT-SIDE-ICON
Add style to <i> to place it to the right and vertical center
NOTE: Parent element MUST have @include vertical-align-center();
************************************************************/
@mixin right-side-icon( $fa-icon: $fa-var-chevron-right, $font-size: 0.8em, $hover: false, $opacity: .3, $margin-right: 0 ){
    font-size  : $font-size;
    color      : $close-color;
    text-shadow: $close-text-shadow;
    cursor     : default;

    line-height: 1;

    margin-left : auto;
    margin-right: $margin-right;

    &:before {
        font-size: $font-size;
        content: fa-content($fa-icon);
    }

    @if ($hover) {
        opacity: .5;
        @include hover-focus {
            color          : $close-color;
            text-decoration: none;
            opacity        : .75;
        }

    } @else {
        opacity: $opacity;
    }
}

@mixin vertical-align-center() {
    display    : flex;
    align-items: center; // vertically center it
}


/************************************************************
FOCUS
All elements get same outline when they have focus:
No outline
border-color = light blue
************************************************************/
@mixin focus-style(){
    border-color: $input-focus-border-color !important;
    outline: none !important;
}

/************************************************************
CONTENT
Unifies padding for modal, accordion, popup etc.
************************************************************/
@mixin content-padding()   {
    padding: $content-padding-y $content-padding-x;
    font-size: $font-size-base;
}

@mixin content-padding-sm(){
    padding: $content-padding-y-sm $content-padding-x-sm;
    font-size: $font-size-sm;
}

@mixin content-padding-xs(){
    padding: $content-padding-y-sm $content-padding-x-sm;
    font-size: $font-size-xs;
}

/************************************************************
CONTROL-CONTAINER
Style for div with controls inside modal.
Must have tabindex:"-1" to work with focus
************************************************************/
@mixin control-container(){
    .modal-dialog & {
        border: $input-btn-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        &-sm {
            border-radius: $input-border-radius-sm;
        }

        @include box-shadow($input-box-shadow);
        @include transition($input-transition);

        &:focus, &:active {
            @include focus-style();
        }
    }
}

/************************************************************
CONTROL BORDER-COLOR
All control elements get same border-color when normal, hover, active and error
************************************************************/
@mixin control-border-color-hover( $border-color-hover: $control-border-color-hover, $incl-z-index: true){
    @if $incl-z-index == true {
        //Move 'up' when focus or hover
        &.focus:not(:disabled):not(.disabled),
        &:focus:not(:disabled):not(.disabled),
        .mouse-hover &:hover:not(:disabled):not(.disabled) {
               position: relative;
               z-index : 4;
        }
    }

    //hover, not focus, not disabled
    .mouse-hover &:hover:not(:focus):not(:disabled):not(.disabled) {
        border-color: $border-color-hover;
    }
}

@mixin control-border-color( $border-color: $control-border-color, $border-color-hover: $control-border-color-hover, $incl-error: true ){
    //Normal
    border : $border-width solid $border-color;
    outline: none !important;


    //:active
    &:active,  &.active     {   border-color: darken($border-color, $darken-active-percent);    }
    //:focus
    &:focus, &.focus        {   border-color: $input-focus-border-color;                        }
    //:disabled - Disabled comes last to overwrite active and focus
    &.disabled,  &:disabled {   border-color: $border-color;                                    }


    @if $border-color-hover != false {
        @include control-border-color-hover($border-color-hover: $border-color-hover);
    }

    @if ($incl-error) {
        .has-warning &:not(:focus):not(:disabled):not(.disabled) {
            border-color: $danger;
        }
        .mouse-hover .has-warning &:hover:not(:focus):not(:disabled):not(.disabled) {
            border-color: darken($danger, $darken-hover-percent);
        }
    }
}

/************************************************************
CONTROL-COLORS
Sets all color for text, background, border for normal, :hover, :focus,  :active and .active
************************************************************/
@mixin control-colors(
        $incl-active: true,
        $incl-border: true,
        $incl-bg    : true,
        $incl-error : false,

        $color       : $control-color,
        $color-hover : darken($color, $darken-hover-percent),
        $color-active: darken($color, $darken-active-percent),
        $color-focus : darken($color, 40%),

        $bg-color       : $control-bg-color,
        $bg-color-hover : darken($bg-color, $darken-hover-percent),
        $bg-color-active: darken($bg-color, $darken-active-percent),

        $border-color       : $control-border-color,
        $border-color-hover : $control-border-color-hover,

        $active-color   : $control-active-color,
        $active-bg-color: $control-active-bg-color
      ){

    //Normal
    color: $color;
    @if ($incl-bg){
        @include gradient-bg($bg-color);
    }

    //hover, not active, not disabled
    .mouse-hover .hover &:not(:active):not(:disabled):not(.disabled),
    .mouse-hover &.hover:not(:active):not(:disabled):not(.disabled),
    .mouse-hover &:hover:not(:active):not(:disabled):not(.disabled) {
        color: $color-hover;
        @if ($incl-bg){
            @include gradient-bg($bg-color-hover);
        }
    }

    //:active
    &:active {
        color: $color-active;
        @if ($incl-bg){
            @include gradient-bg($bg-color-active);
        }
    }

    //border-color - all states
    @if ($incl-border){
        @include control-border-color($border-color: $border-color, $border-color-hover: $border-color-hover, $incl-error: $incl-error);
    }

    @if ($incl-active){
        &.active {
            @include control-colors(
                $incl-active: false,
                $incl-border: false,
                $color      : $active-color,
                $bg-color   : $active-bg-color
            );
        }
    }


    // Disabled comes last to overwrite active and focus
    //Overwrite bootstrap defalut opacity on element and replace it with opacity on text-color
    &.disabled,  &:disabled {
        opacity: 1 !important;
        color  : rgba($color, $btn-disabled-opacity);
        @if ($incl-bg){
            @include gradient-bg($bg-color);
        }
    }
}


/************************************************************
TYPE-COLOR
Bg-color and color for different 'type' (warning, alert, info, error, success)
Used in Noty and Modal
************************************************************/

//$type-theme = convert between type and Bootstrap theme
$type-list: alert, success, warning, error, info, help;
$type-theme: (
    alert       : primary,
    success     : success,
    warning     : warning,
    error       : danger,
    info        : info,
    help        : light
);

@mixin type-colors( $type, $hover-class: false, $darken: 0 ){
    $color-name: map-get($type-theme, $type);
    $background-color: theme-color-level($color-name, -10);

    $color: theme-color-level($color-name, 6);

    background-color: darken($background-color, $darken);
    color           : darken($color, $darken);

    @if ($hover-class){
        &.#{$hover-class}:hover {
            background-color: darken($background-color, $darken-hover-percent);
            color           : darken($color, $darken-hover-percent);
        }
    }
}


/************************************************************
HEADER AND TITLE BACKGROUND-COLOR AND COLOR
Headers for modal, popover, popup etc.
************************************************************/
/************************************************************
color-hover - Background-color and text-color for 'normal' and hover
************************************************************/
@mixin color-hover($color, $bg-color, $hover, $bg, $color-hover: false, $bg-color-hover: false ){
    @if $color {
        color: $color;
    }
    @if $bg and $bg-color {
        background-color: $bg-color;
    }
    @if $hover {
        .mouse-hover &:hover {
            @if $color {
                color: if( $color-hover, $color-hover, darken($color, $darken-hover-percent) );
            }
            @if $bg and $bg-color {
                background-color: if($bg-color-hover, $bg-color-hover, darken($bg-color, $darken-hover-percent) );
            }
        }
    }
}

/************************************************************
header-colors - Colors for headers
************************************************************/
@mixin header-colors(){
    color: $header-color;
    background-color: $header-bg-color;
}

/************************************************************
title-color - create colors for headers for table and accordion etc.
************************************************************/
@mixin title-color( $hover: false, $selected-selector: false, $bg: true, $invers: false ){

    @include color-hover(
        $color   : if($invers, $title-active-color, $title-color),
        $bg-color: if($invers, $title-active-bg-color, $title-bg-color),
        $hover   : $hover,
        $bg      : $bg
    );

    @if ($selected-selector){
        #{$selected-selector} {
            @include color-hover(
                $color   : if($invers, $title-color, $title-active-color),
                $bg-color: if($invers, $title-bg-color, $title-active-bg-color),
                $hover   : $hover,
                $bg      : $bg
            );
        }
    }
}

/************************************************************
HEADER, TITLE, AND FOOTER PADDING AND FONT-SIZE
Padding are set to button y-padding (moving text to the left)
************************************************************/
//Truncate header text in <span>
@mixin span-text-truncate(){
    span { @include text-truncate(); }
}

/************************************************************
header-variant
************************************************************/
@mixin header-variant( $is-title: false, $incl-header: true, $small: false, $xs-padding: false ) {

    font-weight: $font-weight-base;

    @include span-text-truncate();
    span.fixed-header {
        overflow  : visible;
        word-break: keep-all;
    }

    @include vertical-align-center();

    $padding: $btn-padding-x;
    $font-size: $font-size-sm;
    @if $is-title == true {
        $font-size: $font-size-base;
    }

    cursor: default;

    @if $small == true {
        $padding: $btn-padding-x-sm;
        @if $xs-padding == true {
            $padding: $btn-padding-x-xs;
        }
        $font-size: $font-size-xs;
        @if $is-title == true {
            $font-size: $font-size-sm;
        }
    }

    @include button-size(
        $padding-y    : $padding,
        $padding-x    : $padding,
        $font-size    : $font-size,
        $line-height  : $line-height-base,
        $border-radius: inherit
    );

    @if $incl-header == true {
        border-bottom: $modal-header-border-width solid $modal-header-border-color;
        border-bottom-right-radius: 0;
        border-bottom-left-radius : 0;
    }
}

@mixin header-variant-sm( $incl-header: true, $xs-padding: false  ) {
    @include header-variant( $incl-header: $incl-header, $small: true, $xs-padding: $xs-padding );
}

/************************************************************
title-variant - as header but with same font-size as siblings
************************************************************/
@mixin title-variant( $small: false ) {
    @include header-variant( $is-title: true, $incl-header: false, $small: $small );
}
@mixin title-variant-sm() { @include title-variant( $small: true ); }


/************************************************************
footer-variant
************************************************************/
@mixin footer-variant( $incl-border-top: true, $small: false ) {
    @include header-variant( $incl-header: false, $small: $small );
    @include header-colors();

    line-height: 1; //Decrease height

    @if $incl-border-top == true {
        border-top: $modal-footer-border-width solid $modal-footer-border-color;
    }

    border-top-left-radius : 0 !important;
    border-top-right-radius: 0 !important;

    //Hide when empty
    &:empty { display: none; }

}

@mixin footer-variant-sm( $incl-border-top: true ) {
    @include footer-variant( $incl-border-top: $incl-border-top, $small: true );
}


/************************************************************
MARGIN-BOTTOM FOR ELEMENTS IN MODAL
All elements in modal-windows get same margin-bottom
************************************************************/
@mixin modal-element-margin-bottom(){
    //Overwrite bootstrap margin-bottom and replace if with not-last-child version
    margin-bottom: 0;
    &:not(:last-child){
        margin-bottom: $modal-element-margin-bottom;
    }
}


