/************************************************************
MIXIN
************************************************************/

/************************************************************
RIGHT-SIDE-ICON
Add style to <i> to place it to the right and vertical center
NOTE: Parent element MUST have @include right-side-icon-parent();
************************************************************/
@mixin right-side-icon( $content: '\f054', $font-size: 0.8em, $hover: false){
    font-size  : $font-size;
    color      : $close-color;
    text-shadow: $close-text-shadow;

    line-height: 1;

    margin-left : auto;
    margin-right: 0.5em;

    &:before {
        content: "#{$content}";
    }

    @if ($hover) {
        opacity: .5;
        @include hover-focus {
            color: $close-color;
            text-decoration: none;
            cursor: pointer;
            opacity: .75;
        }

    } @else {
        opacity: .3;
    }
}

@mixin right-side-icon-parent() {
    display        : flex;
    align-items    : center; // vertically center it
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding-right  : 0 !important;
}


/************************************************************
CONTENT
Unifies padding for modal, accordion, popup etc.
Using smallest vertical/horizontal padding from buttons and
correct (partly) for padding added when in a scrollbar-container
************************************************************/
@mixin _content-padding( $padding ){ 
    padding: $padding;
    &.scrollbar-vertical {
        padding-left : max( 0, $padding - $scroll-size );
        padding-right: max( 0, $padding - $scroll-size );
    }
}

@mixin content-padding-lg(){ @include _content-padding( $content-lg-padding ) }
@mixin content-padding()   { @include _content-padding( $content-padding    ) }
@mixin content-padding-sm(){ @include _content-padding( $content-sm-padding ) }


/************************************************************
CONTROL-CONTAINER
Style for div with controls. Must haave tabindex:"-1" to
work with focus
************************************************************/
@mixin control-container(){ 
    border: $input-btn-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    &-sm {
        border-radius: $input-border-radius-sm;
    }
    
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &:focus, &:active {
        border-color: $input-border-focus;
        outline: none;
        @include box-shadow($input-box-shadow-focus);
    }
}

/************************************************************
HEADER AND TITLE BACKGROUND-COLOR AND COLOR
Headers for modal, popover, popup etc. 
************************************************************/
/************************************************************
color-hover - Background-color and text-color for 'normal' and hover
************************************************************/
@mixin color-hover($color, $color-hover, $bg-color, $bg-color-hover, $hover, $bg){
    @if $color {
        color: $color;
    }
    @if $bg and $bg-color {
        background-color: $bg-color;
    }
    @if $hover {
        &:hover {
            @if $color-hover {
                color: $color-hover;
            }
            @if $bg and $bg-color-hover {
                background-color: $bg-color-hover;
            }    
        }
    }
}

/************************************************************
header-color - Colors for headers
************************************************************/
@mixin header-color( $bg: true ){
    color: $header-color;
    @if $bg {
        background-color: $header-bg-color;
    }
}

/************************************************************
title-color - create colors for headers for table and accordion etc.
************************************************************/
@mixin title-color($hover: false, $selected-selector: false, $bg: true, $invers: false ){
    @if ($invers){
        @include color-hover($title-open-color, $title-open-color-hover, $title-open-bg-color, $title-open-bg-color-hover, $hover, $bg);
    } @else {
        @include color-hover($title-color, $title-color-hover, $title-bg-color, $title-bg-color-hover, $hover, $bg);
    }
    @if ($selected-selector){
        #{$selected-selector} {
            @if ($invers){
                @include color-hover($title-color, $title-color-hover, $title-bg-color, $title-bg-color-hover, $hover, $bg);
            } @else {
                @include color-hover($title-open-color, $title-open-color-hover, $title-open-bg-color, $title-open-bg-color-hover, $hover, $bg);
            }
        }
    }
}

/************************************************************
control-active-color
Mixin to set colors for selected elements and when hover
************************************************************/
@mixin control-active-color( $selector: "", $allowZeroSelected: false ){
    $allowZeroSelected-selector: ".allow-zero-selected";            
    @if $allowZeroSelected {
        $allowZeroSelected-selector: "";            
    }
            
    @at-root {
        #{$selector}{
            //Normal: Just bg-color on hover
            @include color-hover(
                false,  //$color
                false,  //$color-hover
                false,  //$bg-color
                $control-bg-color-hover, //$bg-color-hover
                true,   //$hover
                true    //$bg    
            );

            //Overwrite .active:active color
            &:active { 
                color: inherit; 
            }

            //Active (selected)
            &.active  {
                @include color-hover(
                    $control-active-color,    //$color
                    false, //$color-hover
                    $control-active-bg-color, //$bg-color
                    false, //$bg-color-hover
                    false, //$hover
                    true   //$bg    
                );
            }
        }
//       .allow-zero-selected#{$selector}{
       #{$allowZeroSelected-selector}#{$selector}{
            //Active (selected) AND allowing unselection
            &.active {
                @include color-hover(
                    false, //$color
                    false, //$color-hover
                    false, //$bg-color
                    $control-active-bg-color-hover, //$bg-color-hover
                    true, //$hover
                    true  //$bg    
                );
            }
        }
    }
}


/************************************************************
HEADER, TITLE, AND FOOTER PADDING AND FONT-SIZE
Padding are set to button y-padding (moving text to the left)
************************************************************/
//Truncate header text in <span>
@mixin span-text-truncate(){
    span { @include text-truncate(); }
}


/************************************************************
header-variant
************************************************************/
@mixin header-variant($font-size-factor: $font-size-header-factor, $size: 'nm', $inline: false) { 

    font-weight: $font-weight-base;
    line-height: $line-height-base;

    @include span-text-truncate();

    $padding-y: $btn-padding-y;
    $padding-x: $btn-padding-x; 
    $font-size: $font-size-base;
    
    @if ($size == 'sm') {
        $padding-y: $btn-padding-y-sm;
        $padding-x: $btn-padding-x-sm;
        $font-size: $font-size-sm;

    } @else 

    if ($size == 'xs'){
        $padding-y: $btn-padding-y-xs;
        $padding-x: $btn-padding-x-xs;
        $font-size: $font-size-sm;

    } @else 

    if ($size == 'lg'){
        $padding-y: $btn-padding-y-lg;
        $padding-x: $btn-padding-x-lg;
        $font-size: $font-size-lg;
    }

    //If not inline header => use reduce x-padding
    @if not $inline { 
        $padding-x: $padding-y; 
    }
    @include button-size($padding-y, $padding-x, $font-size-factor * $font-size,   inherit); 

    
}
@mixin header-variant-lg( $font-size-factor: $font-size-header-factor, $inline: false ) { @include header-variant( $font-size-factor, 'lg', $inline ); }
@mixin header-variant-sm( $font-size-factor: $font-size-header-factor, $inline: false ) { @include header-variant( $font-size-factor, 'sm', $inline ); }
@mixin header-variant-xs( $font-size-factor: $font-size-header-factor, $inline: false ) { @include header-variant( $font-size-factor, 'xs', $inline ); }

/************************************************************
header-inline--variant
************************************************************/
@mixin header-inline-variant( $size: 'nm' ){ 
    @include header-variant( $font-size-header-factor, $size, true); 
}

@mixin header-inline-variant-lg() { @include header-inline-variant( 'lg' ); }
@mixin header-inline-variant-sm() { @include header-inline-variant( 'sm' ); }
@mixin header-inline-variant-xs() { @include header-inline-variant( 'xs' ); }

/************************************************************
title-variant - as header but with same font-size as siblings
************************************************************/
@mixin title-variant( $size: 'nm' ) { 
    @include header-variant( 1.0, $size );
}

@mixin title-variant-lg() { @include title-variant( 'lg' ); }
@mixin title-variant-sm() { @include title-variant( 'sm' ); }
@mixin title-variant-xs() { @include title-variant( 'xs' ); }


/************************************************************
footer-variant
************************************************************/
@mixin footer-variant( $size: 'nm' ) { 
    @include header-variant( $font-size-header-factor, $size );
    @include header-color();

    line-height: 1; //Decrease height
    
    border-top: $modal-footer-border-width solid $modal-footer-border-color;

    border-top-left-radius : 0 !important;
    border-top-right-radius: 0 !important;
    
    //Hide when empty
    &:empty { display: none; }

}

@mixin footer-variant-lg() { @include footer-variant( 'lg' ); }
@mixin footer-variant-sm() { @include footer-variant( 'sm' ); }
@mixin footer-variant-xs() { @include footer-variant( 'xs' ); }



/************************************************************
MARGIN-BOTTOM FOR ELEMENTS IN MODAL
All elements in modal-windows get same margin-bottom
************************************************************/
@mixin modal-element-margin-bottom(){
    //Overwrite bootstrap margin-bottom and replace if with not-last-child version
    margin-bottom: 0;
    &:not(:last-child){
        margin-bottom: $modal-element-margin-bottom;
    }
}