/************************************************************
MODAL

Adjusting size etc. to have modal in normal and small size
and jusing standard header, buttons and sizes

If the height (and width) of the content is variable (eq. accordion) the class
.modal-flex is added to .modal given
    width : max-width = $modal-md-rem (or $modal-lg-rem)
    height: As default but with fixed height for small devices to prevent rapidly change of height

************************************************************/

//Calculate padding for modal-body when it is inside a jquery-scroll-container
//Using $scroll-size and $scrollbar-margin from jquery-scroll-container.

//Minimum padding = scrollbar width plus extra margin
$min-padding: $scroll-size + $scrollbar-margin-extended;

//Padding for fixed content when modal-body has scrolling
$modal-body-fixed-scroll-padding-x   : max( $content-padding-x   , $min-padding);
$modal-body-fixed-scroll-padding-x-sm: max( $content-padding-x-sm, $min-padding);

//Setting the different padding to be the different between original-padding and scroll-margin (and >= 0)
$modal-body-scroll-padding-y: max( 0, max( $content-padding-y, $min-padding) - $scroll-size );
$modal-body-scroll-padding-x: max( 0, $modal-body-fixed-scroll-padding-x - $scroll-size );

$modal-body-scroll-padding-y-sm: max( 0, max( $content-padding-y-sm, $min-padding) - $scroll-size );
$modal-body-scroll-padding-x-sm: max( 0, $modal-body-fixed-scroll-padding-x-sm - $scroll-size );

// SIZING IN MODAL
.modal {

    //Overwrite default overflow
    body.modal-open & {
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0 !important;
    }


    .modal-dialog {
        display        : flex;
        flex-direction : column;

        justify-content: center;

        //On small screens the modal is placed at the top - REMOVED
//        @media (max-height: 575px) {
//            justify-content: flex-start;
//        }

        margin   : 0 auto;

        min-height: 100%;

        max-width: calc(100vw - #{2*$modal-dialog-margin});
        width    : $modal-sm-rem;

        &.modal-flex {
            width: $modal-md-rem;

            &.extra-width {
                width: $modal-lg-rem;
            }
        }


        .modal-content {
            min-height: 100%; //Bug fix for IE11
        }

        //Size of .jquery-scroll-container in fixed in flex mode but only for the .jquery-scroll-container containing the modal-content
        &:not(.modal-flex) .modal-content .modal-body > .jquery-scroll-container {
            width: calc( #{$modal-sm-rem} - 2*#{$modal-content-border-width} - 2*#{$modal-body-fixed-scroll-padding-x} );
            margin-left : auto;
            margin-right: auto;
        }

        &.modal-flex .modal-content .modal-body > .jquery-scroll-container {
            width: auto;
        }

        //Force fading opacity
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    &.show {
        .modal-dialog { opacity: 1; }
    }


    //Overwrite Bootstrap media-query setting max-width = 300px for modal-sm
    &.modal-sm {
        max-width: none !important;
    }

} //end of .modal


// SIZING IN MODAL-INLINE
.modal-inline {

    .modal-content {
        min-height: 100%; //Bug fix for IE11
        max-height: inherit;

        box-shadow: none; //No box-shadow on modal-content when inside a modal-inline
    }
}

//HEADER, FIXED-BODY, BODY AND FOOTER
.modal, .modal-inline {

    font-size: 1rem; //To avoid overwrite from other container
    .modal-content {

        //Create class show-for-modal-extended and hide-for-modal-extended
        //@include show-and-hide-for-modernizr-test( $modernizr-test , $parent-element-type: '', $incl-no-selector: true, $display-value: '', $incl-table-display: true )
        @include show-and-hide-for-modernizr-test( modal-extended , '&', false, '', false );

        .modal-header {
            flex-shrink: 0; //Only .modal-body is shrink
            flex-grow  : 0; //Only .modal-body is growing
            @include header-variant();
            @include header-color();

            &.clickable {
                cursor: default;
                &:hover {
                    background-color: darken($header-bg-color, $darken-hover-percent);
                }
            }
        }

        .modal-body-fixed {
            flex-shrink: 0; //Only .modal-body is shrink
            flex-grow  : 0; //Only .modal-body is growing
            overflow   : hidden;
            @include content-padding();

            &:empty { display: none; }
        }
        .modal-body {
            flex-shrink: 1; //Only .modal-body is shrink
            flex-grow  : 1; //Only .modal-body is growing
            @include content-padding();
            @include border-radius( calc( #{$border-radius-lg} - #{$modal-content-border-width} ) );

            //Background-color and color for modal-type-NAME, NAME=alert, success, warning, error, info
            @each $type in $type-list {
                &.modal-type-#{$type} {
                    @include type-colors( $type );
                }
            }
        }

        .modal-footer-header { //Named modal-footer-header since Bootstrap uses modal-footer for the div with buttons
            flex-shrink: 0; //Only .modal-body is shrink
            flex-grow  : 0; //Only .modal-body is growing
            @include footer-variant();

            //Remove top-border to modal-footer it modal-footer-header isn't empty
            &:not(:empty) + .modal-footer {
                border-top: none;
            }
        }

        .modal-footer {
            flex-shrink: 0; //Only .modal-body is shrink
            flex-grow  : 0; //Only .modal-body is growing
            padding: $btn-padding-x;

            &:empty,
            &.modal-footer-vertical:empty {
                display: none;
            }

            &.modal-footer-vertical {
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : center;
                > * { margin: 0;}
                > *:not(:first-child) { margin-top: .25rem; }
            }
        }
    }
}


//size='small'
.modal.modal-sm,
.modal-inline.modal-sm {
    .modal-content {
        .modal-header {
            @include header-variant-sm();
        }
        .modal-body,
        .modal-body-fixed {
            @include content-padding-sm();
        }
        .modal-footer-header { //Named modal-footer-header since Bootstrap uses modal-footer for the div with buttons
            @include footer-variant-sm();
        }

        .modal-footer {
            //padding: $btn-padding-x-sm;
        }
    }
}


//Adjust padding-left and padding-right if the body is a scroll
.modal, .modal-inline {
    .modal-body-fixed.scrollbar-vertical{
        padding-left : $modal-body-fixed-scroll-padding-x;
        padding-right: $modal-body-fixed-scroll-padding-x;
    }
    .modal-body.scrollbar-vertical {
        padding-left : $modal-body-scroll-padding-x;
        padding-right: $modal-body-scroll-padding-x;
    }
    .modal-body.scrollbar-horizontal {
        padding-bottom: $modal-body-scroll-padding-y;
    }
}

.modal.modal-sm,
.modal-inline.modal-sm {
    .modal-body-fixed.scrollbar-vertical {
        padding-left : $modal-body-fixed-scroll-padding-x-sm;
        padding-right: $modal-body-fixed-scroll-padding-x-sm;
    }

    .modal-body.scrollbar-vertical {
        padding-left : $modal-body-scroll-padding-x-sm;
        padding-right: $modal-body-scroll-padding-x-sm;
    }
    .modal-body.scrollbar-horizontal {
        padding-bottom: $modal-body-scroll-padding-y-sm;
    }
}



//No top- or bottom padding in modal-body and modal-body-fixed
.modal,
.modal-inline,
.modal.modal-sm,
.modal-inline.modal-sm {
    &.no-vertical-padding {
        .modal-dialog .modal-content {
            .modal-body-fixed, .modal-body {
                padding-top   : 0;
                padding-bottom: 0;
            }
        }
    }
}
