/************************************************************
MODAL-IMAGE

Style for elements used to display any image in a modal-window

************************************************************/

.c-zoom__wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}