/************************************************************
MODAL-FILE

Style for elements used to display any file in a modal-window

************************************************************/
.object-with-file {
    width : 100%;
    height: 100%;
    border: 0;
}



.file-view-header {
    @include header-variant-sm($xs-padding: true);
}

.file-view-content {
    @include content-padding-sm();
}