/************************************************************
NOTY
Additional and changed style for Noty
************************************************************/

//Overwrite noty to have faster animation
.animated {
    animation-duration: .3s; //Noty default = 1s
}

/*****************************************
Create theme jquery-bootstrap
To be able to control z-index of noty
the complete scss for noty is copyed and modified
*****************************************/
$noty-theme-name: jquery-bootstrap;

$type-2-alert-color: (
    alert  : primary,
    success: success,
    warning: warning,
    error  : danger,
    info   : info,
    help   : light
);

$deltaToCenter      : calc(-50% - #{$modal-content-border-width}/2);
$translateZ         : translateZ(0);
$scale              : scale(1.0, 1.0);

$translateToCenter      : translate($deltaToCenter) $translateZ $scale;
$translateToMiddle      : translate(0, $deltaToCenter) $translateZ $scale;
$translateToCenterMiddle: translate($deltaToCenter, $deltaToCenter) $translateZ $scale;

$corner-space: 20px;

//.noty_modal is hidden. noty-layer-backdrop is used instead
.noty_modal {
    display : none;
}

//Use Bootstrap alert-COLOR for different types
@each $type, $alert-color in $type-2-alert-color {
    .noty_theme__#{$noty-theme-name}.noty_type__#{$type} {
        @extend .alert-#{$alert-color};
        --bs-alert-bg-flash: var(--bs-#{$alert-color});
    }
}

//Create flash style
@keyframes noty-flash {
    from, 50%, to { background-color: var(--bs-alert-bg); }
    25%, 75%      { background-color: var(--bs-alert-bg-flash); }
}

/*******************************************
.noty-layer
*******************************************/
.noty-layer {
    position: fixed;
    z-index : $zindex-modal-backdrop;

    .noty-layer-backdrop {
        position : fixed;
        z-index  : inherit;
        width   : 100%;
        height  : 100%;
        left    : 0;
        top     : 0;
        background-color: $modal-backdrop-bg;
        opacity         : $modal-backdrop-opacity;
    }
}


/*******************************************
.noty-container and .noty-container-LAYOUT
Is a modification to Bootstrap modal-class
*******************************************/
.modal.noty-container {
    //Reset styles from .modal
    display : block;
    height  : auto;
    top     : inherit;
    bottom  : inherit;
    left    : inherit;
    right   : inherit;

    //Default style
    position : fixed;
    z-index  : inherit;

    margin   : 0;
    padding  : 0;

    transform: $translateZ $scale;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    filter   : blur(0);
    width    : 325px;
    max-width: 90%;

    //Adjust width and left for full-width layout
    &.noty-container-top,
    &.noty-container-bottom {
        left : 5%;
        width: 90%;
    }

    //top or button position
    &.noty-container-top {
        top: 0;
    }
    &.noty-container-topLeft, &.noty-container-topCenter, &.noty-container-topRight {
        top: $corner-space;
    }
    &.noty-container-center, &.noty-container-centerLeft, &.noty-container-centerRight {
        top: 50%;
    }
    &.noty-container-bottomLeft, &.noty-container-bottomCenter, &.noty-container-bottomRight {
        bottom: $corner-space;
    }
    &.noty-container-bottom {
        bottom: 0;
    }

    //left or right position
    &.noty-container-topLeft, &.noty-container-centerLeft, &.noty-container-bottomLeft {
        left: $corner-space;
    }
    &.noty-container-topCenter, &.noty-container-center, &.noty-container-bottomCenter {
        left: 50%;
    }
    &.noty-container-topRight, &.noty-container-centerRight, &.noty-container-bottomRight {
        right: $corner-space;
    }

    //Transform
    &.noty-container-topCenter, &.noty-container-bottomCenter {
        transform: $translateToCenter;
    }
    &.noty-container-center {
        transform: $translateToCenterMiddle;
    }
    &.noty-container-centerLeft, &.noty-container-centerRight {
        transform: $translateToMiddle;
    }
} //end of .noty-container


//Noty-bar ghost
@keyframes noty_anim_height { 100% { height: 0; } }
.noty_fix_effects_height {
    animation: noty_anim_height 75ms ease-out;
}


/*******************************************
.noty-bar, the theme and different types
Is a modification to Bootstrap modal-dialog-class
*******************************************/
.modal-dialog.noty_bar.noty_theme__#{$noty-theme-name}{
    opacity: 1;
    width: auto;
    max-width: auto;

    transform: $translateZ $scale;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: hidden;

    cursor: default;
    margin: 4px 0;
    overflow: hidden;
    position: relative;

    &.flash .noty_body {
        animation-name: noty-flash;
        animation-iteration-count: 3;
        animation-duration: .5s;
    }


    .modal-content {
        color           : var(--#{$prefix}alert-color);
        background-color: var(--#{$prefix}alert-bg);
    }

    .header-content {
        --#{$jb-prefix}header-bg   : rgba(0,0,0, .1);
        --#{$jb-prefix}header-color: var(--#{$prefix}alert-color);
    }

    .modal-body.noty_body {
        color           : inherit;
        background-color: transparent;

        * {
            white-space: pre-wrap;
            word-break: break-word;
            word-wrap : break-word;
        }
    }

    //Container for close-icon moves to top right corner when no header
    &.no-header .header-icon-container {
        position: absolute;
        top: 0;
        right: 0;
        margin-top  : var(--bs-modal-header-padding-y);
        margin-right: var(--bs-modal-header-padding-x);
    }

    &.noty_close_with_click {
        cursor: pointer;
    }

    hr {
        padding: 0;
        margin : var(--bs-modal-header-padding-y) 0;
    }
}
