/************************************************************
POPOVER

************************************************************/
.popover {

    //Reset padding for popover-header
    .popover-header {
        padding: 0 !important;
    }

    //Popover-header-content
    .popover-header-content {     
        @include header-variant();
        @include header-color();
        font-weight: $btn-font-weight; //Same as buttons
        line-height: $input-btn-line-height; //Same as buttons

        @include vertical-align-center();
    }

    //Set small padding for no-default contents
    .popover-body:not(.default-padding) {
        padding: 1px 1px;
    }

    //Center button-group in popover
    .popover-body > .btn-group {
        @extend .mx-auto;
    }
    
    //Popover footer
    .popover-footer {
        @include footer-variant();
    }

    //Small size
    &.popover-sm {
        .popover-header-content { @include header-variant-sm(); }
        .popover-footer        { @include footer-variant-sm(); }
    }
}