/************************************************************
POPOVER

************************************************************/
.popover {
    //Reset padding for popover-header
    .popover-header {
        padding: 0 !important;
        border-bottom: none; 
    }

    //Popover-header-content
    .popover-header-content {     
        @include header-variant();
        @include header-color();
        font-weight: $btn-font-weight; //Same as buttons
        line-height: $input-btn-line-height; //Same as buttons

        @include vertical-align-center();
    }

    //Popover body
    .popover-body {
        padding: 1px !important; //TODO Perhaps change back to 0 when Bootstrap bug fix regarding popover aarrow are ready

        //Center button-group in popover
        & > .btn-group {
            @extend .mx-auto;
        }
    }
    
    //Popover footer
    .popover-footer {
        @include footer-variant();
    }

    //Small size
    &.popover-sm {
        .popover-header-content { @include header-variant-sm(); }
        .popover-footer         { @include footer-variant-sm(); }
    }
}

