/************************************************************
SELECTBOX

Implemented as a special version of dropdownmenu

Two versions:
1: bsSelectbox
    .dropdown.selectbox    
        .btn
        .dropdown-menu
            .dropdown-item or .dropdown-header
            ...

2: bsSelectList
    .selectList
        .dropdown-item or .dropdown-header
        ...

************************************************************/
$item-height   : $line-height-base * $font-size-base + 2*$btn-padding-y;
$item-height-sm: $line-height-base * $font-size-sm + 2*$btn-padding-y-sm;
$max-items-visible-in-selectbox: 4;

//1: bsSelectbox
.dropdown.selectbox {
    @include modal-element-margin-bottom();
    
    > .btn {
        width     : 100%;
        text-align: left;
        position  : relative;

        @include vertical-align-center();

        .arrow {
            @include right-side-icon('\f078'); 
        }

        .selected-content {
            width        : 100%;
            display      : inline-block;
            padding-right: 0.8em;
            @include text-truncate();

            &.empty {
                color: $input-color-placeholder;
            }
        }
    }

    //Set size of button when size=sm
    &.selectbox-sm > .btn {
        @extend .btn-sm;
    }

    .dropdown-menu {
        width                   : 100%;
//        max-height              : 120px;
        border-top-left-radius : 0;
        border-top-right-radius: 0;
        margin-top             : -$dropdown-border-width; //Move up to align with bottom of button               
        padding                : 0;
    }

    //Make the button 'active' when dropdown is open
    &.show {

        > .btn.btn-secondary {
            //@include          ($color,               $color-hover,              $bg-color,              $bg-color-hover,              $hover, $bg )
            @include color-hover($control-open-color,  $control-open-color-hover, $control-open-bg-color, $control-open-bg-color-hover, true,   true);

            border-bottom-right-radius: 0;
            border-bottom-left-radius : 0;

            border-color: $input-border-focus;
            outline: none;

            border-bottom-color: $btn-secondary-border;
        }

        .dropdown-menu {
            border-color: $input-border-focus;
            outline     : none;
            border-top-color: $dropdown-border-color;

        }
    }
} //end of .dropdown.selectbox  (1: bsSelectbox)



//2: bsSelectList    
.selectList {
    @include control-container();
/*
    border: $input-btn-border-width solid $input-border-color;
    border-radius: $input-border-radius;

    &-sm {
        $input-border-radius-sm;
    }
    
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &:focus, &:active {
        border-color: $input-border-focus;
        outline: none;
        @include box-shadow($input-box-shadow-focus);
    }
*/
}

//If the select has a scrollbar the left margin is reduced with the scrollbar-width to vertical-align content
.dropdown-menu.scrollbar-vertical {
    .dropdown-item, .dropdown-header { 
        margin-left: -$scroll-size;    
        width: calc(100% + 2*#{$scroll-size});
    }
    &.ps--active-y {
        .dropdown-item, .dropdown-header { 
            width: calc(100% + #{$scroll-size});
        }
    }
}



//.dropdown-item and .dropdown-header
.dropdown.selectbox, .selectList {
    
    //Adjust size for different size.
    //Normal
    & {
        .dropdown-menu {
            max-height: $max-items-visible-in-selectbox*$item-height;
        }
        
        .dropdown-item { 
            cursor: pointer;
            @include text-truncate();

            @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
            @include control-active-color(".dropdown-item");
        }
        .dropdown-header {
            @include header-variant(); 

            line-height: $line-height-base / $font-size-header-factor; //ASdjust line-height to make header and item same height

            //Items below header moves to the right
            &  ~ .dropdown-item {
                padding-left: $btn-padding-x + $font-size-base;
            }
        }
    }

    //Small
    &.selectbox-sm, &.selectList-sm {
        .dropdown-menu {
            max-height: $max-items-visible-in-selectbox*$item-height-sm;
        }

        .dropdown-item { 
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
        }
        .dropdown-header {
            @include header-variant-sm();
            line-height: $line-height-base / $font-size-header-factor; //ASdjust line-height to make header and item same height

            //Items below header moves to the right
            &  ~ .dropdown-item {
                padding-left: $btn-padding-x-sm + $font-size-sm;
            }
        }
    }

/*REMOVED - Only DEFAULT sizes (= small and normal)
    //Large
    &.selectbox-lg {
        .dropdown-item, .dropdown-header { 
            font-size   : $font-size-lg; 
            padding     : $btn-padding-y-lg $btn-padding-x;
        }
        .dropdown-header {
            font-size: $font-size-header-lg;
            &  ~ .dropdown-item {
                padding-left: $btn-padding-x + $font-size-lg;
            }
        }
    }
*/

}