/************************************************************
SELECTLIST

bsSelectList
    .selectList
        .dropdown-item or .dropdown-header
        ...

************************************************************/
//HER//If the select has a scrollbar the left margin is reduced with the scrollbar-width to vertical-align content
//HER.dropdown-menu.scrollbar-vertical {
//HER    .dropdown-item, .dropdown-header {
//HER        margin-left: -$scroll-size;
//HER        width: calc(100% + 2*#{$scroll-size});
//HER    }
//HER    &.ps--active-y {
//HER        .dropdown-item, .dropdown-header {
//HER            width: calc(100% + #{$scroll-size});
//HER        }
//HER    }
//HER}


.dropdown-menu, .selectList {
    @include control-container();
    padding: 0;

    //Adjust default modal setting for ul
    ul.dropdown-menu {
        padding: 0;
        margin: 0;
    }


    .dropdown-item {
        cursor: default;
        @include text-truncate();

        @include button-size(
            $padding-y    : $btn-padding-y,
            $padding-x    : $btn-padding-x,
            $font-size    : $font-size-base,
            $line-height  : $line-height-base,
            $border-radius: $btn-border-radius
        );
        @include control-colors($incl-border: false);

    }
    .dropdown-header {
        @include header-variant( $incl-header: false );

        background-color: $selectlist-bg-color;
        color: $selectlist-color;

        line-height: $line-height-base * $font-size-base / $font-size-sm; //Adjust line-height to make header and item same height
    }
}


//Small
.selectList.selectList-sm, .dropdown-menu.dropdown-menu-sm {
    .dropdown-item {
        @include button-size(
            $padding-y    : $btn-padding-y-sm,
            $padding-x    : $btn-padding-x-sm,
            $font-size    : $font-size-sm,
            $line-height  : $line-height-base,
            $border-radius: $btn-border-radius-sm
        );
    }
    .dropdown-header {
        @include header-variant-sm( $incl-header: false );
        line-height: $line-height-base * $font-size-sm / $font-size-xs; //Adjust line-height to make header and item same height
    }
}

//Extra small
.selectList.selectList-xs, .dropdown-menu.dropdown-menu-xs {
    .dropdown-item {
        @include button-size(
            $padding-y    : $btn-padding-y-xs,
            $padding-x    : $btn-padding-x-xs,
            $font-size    : $font-size-xs,
            $line-height  : $line-height-base,
            $border-radius: $btn-border-radius-xs
        );
    }
    .dropdown-header {
        @include header-variant-sm( $incl-header: false, $xs-padding: true );
    }
}

