/************************************************************
SELECT2

Adjusted version of berkan52/select2-bootstrap4-theme
https://github.com/berkan52/select2-bootstrap4-theme

** ONLY CONTAINS STYLE FOR SINGLE MODE WITHOUT SEARCH BOX **

************************************************************/

$max-items-visible-in-selectbox: 4;

$max-height   : $max-items-visible-in-selectbox * ( $btn-padding-y    + $font-size-base * $line-height-base + $btn-padding-y    );
$max-height-sm: $max-items-visible-in-selectbox * ( $btn-padding-y-sm + $font-size-sm   * $line-height-base + $btn-padding-y-sm );
$max-height-xs: $max-items-visible-in-selectbox * ( $btn-padding-y-xs + $font-size-xs   * $line-height-base + $btn-padding-y-xs );


$select2-theme-name: 'standard';

.select2-container--#{$select2-theme-name} {
    display: block;

    //Set background-color to common
    .select2-dropdown {
        background-color: $selectlist-bg-color;
        color: $selectlist-color;

    }

    //If the results are placed in a scrollbar => set left margin of the scroll-container = 0 to align with selection
    .jquery-scroll-container {
        margin-left: 0;
    }

    .select2-selection {
        height: auto;
        @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $line-height-base, $btn-border-radius);
        @include control-color-and-border-color();

        .select2-selection__rendered {
            padding-left: 0;
        }
    }

    .select2-results {
        max-height: $max-height;
    }

    .select2-results__option {
        @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $line-height-base, $btn-border-radius);
        &[role=group] { padding: 0; }

        &[aria-disabled=true] {
            color: $dropdown-link-disabled-color;
        }

        &[aria-selected=true] {
            background: $control-selected-bg-color;
            color     : $control-selected-color;
        }
        &--highlighted[aria-selected] {
            background: $control-active-bg-color;
            color     : $control-active-color;
        }

        .select2-results__option {
            .select2-results__group {
                padding-left: 0;
            }
        }
    }

    .select2-results__group {
        @include header-variant( false, false, false );
        color      : $dropdown-header-color;
        display    : block;
        white-space: nowrap;
        line-height: $line-height-base * $font-size-base / $font-size-sm; //Adjust line-height to make header and item same height

    }

    &.select2-container--focus,
    &.select2-container--open {
        .select2-selection {
            @include focus-style();
        }
    }

    &.select2-container--open {
        .select2-dropdown {
            border-color: $input-focus-border-color !important;
        }

        &.select2-container--below {
            .select2-selection {
                @include border-bottom-radius(0);
                border-bottom-color: $control-border-color !important;
            }
        }

        &.select2-container--above {
            .select2-selection {
                @include border-top-radius(0);
                border-top-color: $control-border-color !important;
            }
        }
    }

    &.select2-container--disabled {
        .select2-selection,
        .select2-selection--multiple .select2-selection__choice {
            background: $input-disabled-bg;
        }

        .select2-selection__clear,
        .select2-selection--multiple .select2-selection__choice__remove {
            display: none;
//HERbackground-color: red;
        }
    }


    .select2-selection--single {
        cursor: default;
        @include vertical-align-center();
        i.select2-selection__arrow {
            @include right-side-icon('\f078', 0.8em, false, 1 );
        }

        .select2-selection__placeholder {
            color: $input-placeholder-color;
        }
    }


    //Special span to hold label inside placeholder. Only displayed when no item is selected
    //Display special span and hide normal content of placeholder by setting .select2-hide-placeholder
//REMOVED    .select2-selection__placeholder_label {
//REMOVED        display: none;
//REMOVED        color  : $input-placeholder-color;
//REMOVED    }

    &.select2-hide-placeholder .select2-selection--single .select2-selection__placeholder {
        > .container-icon-and-text:first-child  {
            opacity: 0;
        }
//REMOVED        .select2-selection__placeholder_label   { display: inline-block; }
    }


    /******************************************************
    Style for different size
    ******************************************************/
    //Small
    &.select2-container-sm {
        .select2-results {
            max-height: $max-height-sm;
        }

        .select2-selection,
        .select2-results__option {
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-base, $btn-border-radius-sm);
            &[role=group] { padding: 0; }
        }

        .select2-results__group {
            @include header-variant-sm( false );
            line-height: $line-height-base * $font-size-sm / $font-size-xs; //Adjust line-height to make header and item same height
        }
    }

    //Extra small
    &.select2-container-xs {
        .select2-results {
            max-height: $max-height-xs;
        }

        .select2-selection,
        .select2-results__option {
            @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $line-height-base, $btn-border-radius-xs);
            &[role=group] { padding: 0; }
        }

        .select2-results__group {
            @include header-variant-sm( false, true );
        }
    }
}  //end of .select2-container--#{$select2-theme-name}



//Remove round border when between input-group-prepend/append
.input-group > .has-float-label:not(:first-child) .select2-container--standard .select2-selection {
    @include border-left-radius(0);
}
.input-group > .has-float-label:not(:last-child) .select2-container--standard .select2-selection {
    @include border-right-radius(0);
}

/* OLD VERSION
.input-group > .select2-hidden-accessible {
    &:first-child + .select2-container--#{$select2-theme-name} > .selection > .select2-selection,
    &:first-child + .select2-container--#{$select2-theme-name} > .selection > .select2-selection.form-control {
        @include border-right-radius(0);
    }

    &:not(:first-child) + .select2-container--#{$select2-theme-name}:not(:last-child) > .selection > .select2-selection,
    &:not(:first-child) + .select2-container--#{$select2-theme-name}:not(:last-child) > .selection > .select2-selection.form-control {
        border-radius: 0;
    }

    &:not(:first-child):not(:last-child) + .select2-container--#{$select2-theme-name}:last-child > .selection > .select2-selection,
    &:not(:first-child):not(:last-child) + .select2-container--#{$select2-theme-name}:last-child > .selection > .select2-selection.form-control {
        @include border-left-radius(0);
    }
}
*/

.form-control.select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
}

