/************************************************************
TABS

Adjustment to Bootstrap tabs
************************************************************/

$selected-margin: 2*$nav-tabs-border-width;

@mixin tab-size-and-position( $padding-y, $padding-x, $font-size, $line-height ){

    $border-width-rem: 1rem * $nav-tabs-border-width / 16px;
    $width           : 2*$padding-x;

    & {
        margin-right: 1.5 * $padding-x;
    }
    &:after {
        border-top-right-radius: $width;
        width: $width;
        right: 2*$border-width-rem - $width;
    }
}



.nav-tabs {
    //Add extra top-margin and padding to edge
    margin-top  : $btn-padding-y-sm;
    padding-left: $scroll-size;

    border-bottom-color: $card-show-border-color;

    //Tabs inside tabs: no padding, adjust horizontal margin to fit to border
    .tab-inner-content & {
        margin: 0 -1 * $scroll-size;
    }

    a.nav-item.nav-link {
        position: relative;
        cursor: default;

        @include button-size          ( $btn-padding-y, $btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius );
        @include tab-size-and-position( $btn-padding-y, $btn-padding-x, $font-size-base, $input-btn-line-height );

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        outline: none !important;
        background-color: $control-bg-color;
        @include box-shadow(inset 0 1px 0 rgba($white, .15)); //Only top, left and right

        @include control-color-and-border-color( $control-color, $control-border-color, false, false );

        //Adjust to :after with right side
        border-right: none;
        padding-right: 2*$nav-tabs-border-width !important;

        &:after {
            display : inline-block;
            position: absolute;
            z-index : 1;
            top: -1 * $nav-tabs-border-width;

            content: ' ';
            background-color: inherit;

            padding    : 0;
            margin     : 0;
            line-height: inherit;
            font-size  : inherit;

            border      : inherit;
            border-left : none;
            border-right: $nav-tabs-border-width solid $control-border-color;

            height: calc(100% + 2*#{$nav-tabs-border-width});
        }

        //Disabled
        &.disabled {
            color: $control-border-color;
        }

        //Not selected
        &:not(.active){
            margin-top: $selected-margin;
            border-bottom-color: $card-show-border-color !important;

            &:not(:disabled):not(.disabled){
                @include color-hover( $control-color, $control-bg-color, true, true );
                @include control-border-color-hover($control-border-color-hover, false);
                margin-top: $selected-margin;
                &:hover:after {
                    border-color: $control-border-color-hover;
                }
            }
        }

        //Active (selected)
        &.active  {
            border-color       : $card-show-border-color;
            border-bottom-color: $white;
            background-color   : $white;
            z-index: 2;
            &:after {
                border-color: inherit;
//                height: calc(100% +  2*#{$nav-tabs-border-width} + #{$selected-margin});
            }
        }
    }

    //Special style: Hide text when tab is not selected
    &.hide-not-selected-text a.nav-item.nav-link:not(.active) span:last-child:not(:first-child) {
        display: none;
    }


    //Adjust size when -sm
    &.nav-tabs-sm  a.nav-item.nav-link {
        @include button-size          ( $btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm );
        @include tab-size-and-position( $btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm );
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    //Adjust size when -xs
    &.nav-tabs-xs  a.nav-item.nav-link {
        @include button-size          ( $btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $input-btn-line-height-sm, $btn-border-radius-xs );
        @include tab-size-and-position( $btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $input-btn-line-height-sm );
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

//Padding and background-color for content-container
.tab-content .tab-pane.active {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    max-height     : 100%;

    .tab-inner-content {
        flex-shrink: 1;
        flex-grow  : 1;
        background-color: $white;
        @include content-padding();
        padding-left : $scroll-size;
        padding-right: $scroll-size;

        //No padding when inside scrollbar or when inside another tabs
        &.scrollbar-vertical, .tab-content & {
            padding: 0;
        }
    }

    .tab-footer {
        flex-shrink: 0;
        flex-grow  : 0;
        @include footer-variant();
        &:empty {
            display: none;
        }
    }
}

.tab-content.tab-content-sm .tab-pane {
    .tab-footer {
        @include header-variant-sm();
    }
}

//No padding when inside a modal-window
.modal-dialog .tab-content .tab-pane {
    min-height: 100%;
    max-height: 100%;
}