/************************************************************
TEXT

Additional classes for text
************************************************************/

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

/*
Bootstrap allready have the following classes
// Transformation

.text-lowercase
.text-uppercase
.text-capitalize

// Weight and italics
.fw-bold        Bold text
.fw-bolder      Bolder weight text (relative to the parent element)
.fw-semibold    Semibold weight text
.fw-normal      Normal weight text
.fw-light       Light weight text
.fw-lighter     Lighter weight text (relative to the parent element)
.fst-italic     Italic text
.fst-normal     Text with normal font style>

*/

//opacity-XX
.opacity-0   { opacity:   0; }
.opacity-50  { opacity:  50; }
.opacity-100 { opacity: 100; }


//Relative font-size
.font-size-0-50em { font-size: 0.50em !important; }
.font-size-0-65em { font-size: 0.65em !important; }
.font-size-0-75em { font-size: 0.75em !important; }
.font-size-0-9em  { font-size: 0.9em  !important; }
.font-size-1-1em  { font-size: 1.1em  !important; }
.font-size-1-2em  { font-size: 1.2em  !important; }
.font-size-1-5em  { font-size: 1.5em  !important; }

//margins
.no-margin        { margin       : 0 !important; }
.no-margin-left   { margin-left  : 0 !important; }
.no-margin-right  { margin-right : 0 !important; }
.no-margin-top    { margin-top   : 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-children {
    * { margin: 0 !important; }
}

//Extra-width
.fa-extra-width {
    //Only used for container of stacked icons
}

//.container-icon-and-text: used when adding icon and/or text to button, header etc.
.container-icon-and-text:not(.fa-stack) {
    & > span:not(:last-child),
    & > a:not(:last-child),
    & > .container-stacked-icons:not(:last-child):not(.fa-no-margin),
    & > i:not(:last-child):not(.fa-no-margin) {
        margin-right: 5px;
    }

    & > span.inline-block,
    & > span.d-block {
        margin-right: inherit;
    }

    //Adjust default style inside a text-box
    * { margin-top: 0; margin-bottom: 0}
    ol, ul, dl { padding-left: 2em;}
}

//Stacked icons
.container-stacked-icons {
    $dim       : 1em;
    text-align : center;
    display    : inline-block;
    flex-shrink: 0;
    line-height: 1;
    //Add special classes for extra widtrh if the stacked icon are widther the 1em
    &.width-1-1em:not(:last-child) { width: 1.1em; text-align: left; }
    &.width-1-2em:not(:last-child) { width: 1.2em; text-align: left; }
    &.width-1-3em:not(:last-child) { width: 1.3em; text-align: left; }
    &.width-1-4em:not(:last-child) { width: 1.4em; text-align: left; }
    &.width-1-5em:not(:last-child) { width: 1.5em; text-align: left; }
    .stacked-icon {
        width : $dim;
        //height: $dim;
        &:not(:first-child) {
            margin-left: -1 * $dim;
        }
    }
}

//color-classes for activr/checked icons
.text-checked, .text-active {
    color: $form-check-input-checked-bg-color;
}

/************************************************************
Modernizr-test for stacted icon with parent with
class="active" or "checked" when selected
************************************************************/
@each $class-name in selected, checked {
    .#{$class-name} .container-stacked-icons {
        i.icon-hide-for-#{$class-name} { opacity: 0;       }
        i.icon-show-for-#{$class-name} { opacity: inherit; }
    }
    .no-#{$class-name} .container-stacked-icons {
        i.icon-hide-for-#{$class-name} { opacity: inherit; }
        i.icon-show-for-#{$class-name} { opacity: 0;       }
    }
}