/************************************************************
TEXT

Additional classes for text
************************************************************/

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

/*
Bootstrap allready have the following classes
// Transformation

.text-lowercase
.text-uppercase
.text-capitalize

// Weight and italics

.font-weight-normal
.font-weight-bold
.font-italic

*/

//.container-icon-and-text: used when adding icon and/or text to button, header etc.
.container-icon-and-text {
    & > * {
        &.after-icon {
            padding-left: 0.3em;
        }
    }
}
