/************************************************************
VARIABLES
************************************************************/


/***********************************************
DEFINE BOOTSTRAP BUTTON STYLE
$btn-style-name MUST correspond with ns.bsButtonClass 
in src/jquery-bootstrap-button.js 
************************************************/
$btn-style-name: standard;


/************************************************************
Variables bassed on bootstrop variables
************************************************************/
//Modal size in rem
$modal-sm-rem: $modal-sm*1rem/16px;
$modal-md-rem: $modal-md*1rem/16px;
$modal-lg-rem: $modal-lg*1rem/16px;


/************************************************************
HEADER
Font-sizes for headers are one 'size' smaller than normal font
$font-size-lg  : 1.25rem    20px
$font-size-base: 1rem       16px
$font-size-sm  : .875rem    14px
$font-size-xs  : .75rem     12px

************************************************************/
$font-size-header   : $font-size-sm; 
$font-size-header-sm: $font-size-xs; 


/************************************************************
CONTENT
Unifies padding and font-size for content of modal, accordion, popup etc.
Using same font-size and vertical/horizontal padding as buttons
************************************************************/
$content-padding-y   : $btn-padding-y;
//$content-padding-x   : $scroll-size + $scrollbar-margin-extended; ; 
$content-padding-x   : $btn-padding-x;

$content-padding-y-sm: $btn-padding-y-sm;
//$content-padding-x-sm: $scroll-size + $scrollbar-margin-extended;
$content-padding-x-sm: $btn-padding-x-sm;

/************************************************************
MARGIN-BOTTOM
All elements in modal-windows get same margin-bottom
************************************************************/
$modal-element-margin-bottom: $form-check-margin-bottom;




