/************************************************************
VARIABLES

Defines scss-variables used in jquery-bootstrap
Some of these variables are based on Bootstrap variables
************************************************************/

//Set z-index for working...
$zindex-working: 99999;


/***********************************************
Checkbox
************************************************/
// indeterminate colors = checkbox or checkbox-button with semi-selected state
// Use same icon as for selected
$form-check-input-indeterminate-bg-image: $form-check-input-checked-bg-image;

/***********************************************
Button
************************************************/
// $btn-style-name MUST correspond with ns.bsButtonClass in src/jquery-bootstrap-button.js
$btn-style-name: jb;

// Square Buttons - Dimentions for square buttons with only icons
$two-x-border-width-rem: 2 * $border-width-rem;

$button-square-dimension   : 2 * $btn-padding-y    + $jb-font-size    * $btn-line-height + $two-x-border-width-rem;
$button-square-dimension-sm: 2 * $btn-padding-y-sm + $jb-font-size-sm * $btn-line-height + $two-x-border-width-rem;

$button-square-dimension-xs: 2 * $btn-padding-y-xs + $jb-font-size-xs * $btn-line-height + $two-x-border-width-rem;

$button-big-scale: 1.6; //Scale for font-size and dimentions for big-size and/or big-font icons

$button-big-square-dimension   : roundRem( 2 * $btn-padding-y    + $button-big-scale * $jb-font-size    * $btn-line-height + $two-x-border-width-rem);
$button-big-square-dimension-sm: roundRem( 2 * $btn-padding-y-sm + $button-big-scale * $jb-font-size-sm * $btn-line-height + $two-x-border-width-rem);
$button-big-square-dimension-xs: roundRem( 2 * $btn-padding-y-xs + $button-big-scale * $jb-font-size-xs * $btn-line-height + $two-x-border-width-rem);

/***********************************************
Modal
************************************************/
//Modal size as --var in rem

//Extra-large-modal
$modal-xl    : 1200px;



/***********************************************
Button And Modal
Opacity for semi-transparent and transparent content using color-mix
************************************************/
//Modal
$modal-content-bg-semi-transparent      : color-mix(in srgb, $modal-content-bg, transparent #{$jb-element-semi-transparent-opacity       * 100%});
$modal-content-bg-semi-transparent-hover: color-mix(in srgb, $modal-content-bg, transparent #{$jb-element-semi-transparent-hover-opacity * 100%});

